<h1><span><%= t('.title') %></span></h1>

<%= render( :partial => 'form',
            :locals => {
			  :path => student_year_class_path(@school, @student_year_class),
			  :submit_text => t('link.update'),
			  :method => :put } ) %>
