<div class="span12">
  <div class="margin0auto w50">

    <div class="span12 profile-details">
      <%= t('.message') %>
    </div>

    <% unless @new_emails.empty? %>
    <div class="span12 profile-details">
      <%= t('.email_confirm_info') %>
    </div>
    <% end %>

  </div>
</dvi>
