
<h1>Import users</h1>

<div id="import-tool">
  Loading the tool...
  <% if ENV["RAILS_ENV"] != "production" %>
    <pre>
    Development mode. Make sure to start 'make js-server'
    </pre>
  <% end %>
</div>

<% content_for :style do %>
  <%# XXX: Bundle these into the app %>
  <link rel="stylesheet" href="/vendor/css/pure-min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<% end %>

<script src="/javascripts/i18n/import_tool.<%= I18n.default_locale %>.js" charset="utf-8"></script>
<% if I18n.default_locale != I18n.locale %>
<script src="/javascripts/i18n/import_tool.<%= I18n.locale %>.js" charset="utf-8"></script>
<% end %>

<script charset="utf-8">
var scriptName = "import_tool.js";
<% if ENV["RAILS_ENV"] == "production" %>
var scriptURL = "/" + scriptName;
<% else %>
var scriptURL = "http://" + (location.host || 'localhost').split(':')[0] + ":4000/" + scriptName;
<% end %>
document.write('<script src="' + scriptURL + '"></' + 'script>');
</script>
<script charset="utf-8">
window.createImportTool("import-tool", <%= @school_json.html_safe  %>);
</script>
