
<h1>Mass import</h1>

<div id="import-tool">
  loading...
</div>


<% content_for :style do %>
  <link href="/import_tool.css" media="all" rel="stylesheet" type="text/css" />
<% end %>
<script src="/import_tool.js" charset="utf-8"></script>
<script charset="utf-8">
window.createImportTool("import-tool", <%= params["id"]  %>);
</script>
