
<h1>Import users</h1>

<div id="import-tool">
  Loading the tool...
</div>

<% content_for :style do %>
  <%# XXX: Bundle these into the app %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/pure-min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

  <link href="/import_tool.css" media="all" rel="stylesheet" type="text/css" />
<% end %>
<script src="/import_tool.js" charset="utf-8"></script>
<script charset="utf-8">
window.createImportTool("import-tool", "<%= @school.dn  %>");
</script>
