#navbar_first_level{
clear: both;
float: left;
height: 60px;
margin: 5px 0 0;
}
#navbar_first_level h1 {
float: left;
font-size: 2.5em;
margin: 10px 0 0 10px;
}
#top-area {
background: #f7efe7;
}

/*=== Navigation ===*/

#navbar_second_level {
background: none repeat scroll 0 0 #B4D474;
background:-moz-linear-gradient(center bottom , #B4D474 35%, #BFE17B 70%) repeat scroll 0 0 transparent;
background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.35, rgb(180,212,116)),
    color-stop(0.7, rgb(191,225,123))
);
background-image: -o-linear-gradient(top,rgb(180,212,116),rgb(191,225,123));
border-bottom:1px solid #222222;
border-left: 1px solid #222222;
border-radius: 0 12px 0 0;
border-right: 1px solid #222222;
border-top: 1px solid #222222;
clear: both;
color: #4A4D4A;
float: left;
font-size: 8pt;
font-weight: bold;
height: 40px;
margin: 0 0 -5px;
padding: 0;
text-transform: uppercase;
width: 100%;
z-index: 9999;
-moz-border-radius: 0 12px 0 0;
-webkit-border-radius: 0 12px 0 0;
}
#navbar_second_level ul:not(.submenu) {
display: inline-block;
margin: 3px 0 0;
padding: 0;
}
#navbar_second_level > ul{
display:inline-block;
margin: 3px 0 0;
padding: 0;
}
#navbar_second_level li {
display: inline;
float:left;
line-height: 1.5em;
margin: 0 0 0 6px;
padding: 11px 11px 0 10px;
text-align: center;
text-decoration: none;
width: 95px;
}

#navbar_second_level li:first-child{
margin: 0 0 10px 6px;
}

#navbar_second_level li:hover:not(.current){
background: none repeat scroll 0 0 #FFFFFF;
border-radius: 10px 10px 0 0;
border-left: 1px solid #222222;
border-radius: 10px 10px 0 0;
border-right: 1px solid #222222;
border-top: 1px solid #222222;
height: 17px;
margin:0 0 0 5px;
padding:10px;
z-index: 9999;
-moz-border-radius:10px 10px 0 0;
-webkit-border-radius:10px 10px 0 0;
}
#navbar_second_level li a {
border-radius: 10px 10px 0 0;
display: block;
margin: -9px -10px 0;
padding: 10px 0;
text-decoration: none;
-moz-border-radius: 10px 10px 0 0;
-webkit-border-radius: 10px 10px 0 0;
}
#navbar_second_level li.current {
background: none repeat scroll 0 0 #FFFFFF;
border-left: 1px solid #222222;
border-radius: 10px 10px 0 0;
border-right: 1px solid #222222;
border-top: 1px solid #222222;
padding: 10px 10px 0;
-moz-border-radius: 10px 10px 0 0;
-webkit-border-radius: 10px 10px 0 0;
}
#navbar_second_level li.current a {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #4A4D4A;
}
