<% page_title t('titles.organisation'), t('titles.all_images') %>

<h1><%= t('titles.all_images') %></h1>

<p><%= t('image_statistics.explanation_organisation') %></p>

<%= render :partial => 'common', :locals => { :show_school_links => true } %>
