<% page_title t('titles.schools'), @school.displayName, t('titles.devices'), t('titles.school_images') %>

<h1><%= t('titles.school_images') %></h1>

<p><%= t('image_statistics.explanation_school') %></p>

<%= render partial: 'common', locals: { show_school_links: false } %>
