#top-menu {
  float: left;
  font-size: 9pt;
  font-weight: bold;
  line-height: 3em;
  list-style: none outside none;
  margin: 0;
  padding: 0 5px 0 10px;
  text-transform: uppercase;
  z-index: 1000;
}
#nav1 ul {
  display: inline-block;
  font-size: 10pt;
  font-weight: bold;
  line-height: 3.5;
  list-style: none outside none;
  margin: 0;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}
#nav1 ul > li {
  background: none repeat scroll 0 0 #FAB32E;
  background:-moz-linear-gradient(center bottom , #FAB32E 20%, #F59545 75%) repeat scroll 0 0 transparent;
  background:-webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.20, rgb(250,179,46)),
    color-stop(0.75, rgb(245,149,69))
  );
  background-image: -o-linear-gradient(top,rgb(250,179,46),rgb(245,149,69));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#F59545, endColorstr=#FAB32E);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#F59545, endColorstr=#FAB32E)";
  border-radius: 15px 15px 0 0;
  float: left;
  height:45px;
  margin: 0 3px 0 0;
  min-width: 80px;
  white-space: nowrap;
  width: auto !important;
  -moz-border-radius:15px 15px 0 0;
  -webkit-border-radius:15px 15px 0 0;
}
#nav1 ul a{
  display:block;
  padding: 0 1em;
}
#top-menu > li {
  float: left;
  margin-right: 20px;
  position: relative;
  width: auto !important;
}
#top-menu > li:hover > a:first-of-type {
  background: none repeat scroll 0 0 #A36A2A;
  color: #FFFFFF;
  margin: -8px -10px -5px -20px;
  padding: 8px 10px 5px 20px;
  text-shadow: none;
  -moz-border-radius: 0 8px 8px 0;
  -webkit-border-radius: 0 8px 8px 0;
  border-radius: 0 8px 8px 0;
}

.topNavContainer {
  border-bottom: 1px solid #222;
}
#nav1 ul > li:last-child {
  margin: 0;
}
#nav1 ul > li:hover {
  background: none repeat scroll 0 0 #A36A2A;
  background:-moz-linear-gradient(center bottom , #BA722D 35%, #A36A2A 60%) repeat scroll 0 0 transparent;
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.35, rgb(186,114,45)),
    color-stop(0.6, rgb(153,106,42))
  );
  background-image: -o-linear-gradient(top,rgb(153,106,42),rgb(186,114,45));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#BA722D, endColorstr=#A36A2A);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#BA722D, endColorstr=#A36A2A)";
  height:45px;
}
#top-menu > li > ul,
#nav1 ul li ul {
  background: none repeat scroll 0 0 #F59545;
  border-radius: 0 0 20px 20px;
  display: none;
  left: 0;
  line-height: 16px;
  margin-top: 50px;
  padding: 0;
  position: absolute;
  top: 0;
  z-index: 999;
  -webkit-border-radius: 0 0 20px 20px;
  -moz-border-radius: 0 0 20px 20px;
}
#nav1 ul li ul {
  width: 130px;
}
#top-menu > li > ul {
  left: -5px;
  margin: 36px 0 0;
  max-height: 400px;
  overflow-y: auto;
  padding: 0 10px 0 0;
  white-space: nowrap;
  width: auto !important;
}

#top-menu li ul,
#nav1 ul li ul {
  border-bottom: 1px solid #222;
  border-left: 1px solid #222;
  border-right: 1px solid #222;
}

/* Keeps top menus open. Usefull for debugging */
/* #top-menu li ul, */
/* #nav1 ul li ul { */
/*   display: block; */
/* } */

li.top-menu-item {
  border-top:1px solid #E6E6E6;
  display: block;
  font-size: 9pt;
  list-style-type: none;
  margin: 8px 20px;
  padding: 5px 15px 0 0;
  width: auto !important;
  white-space: nowrap;
}

li.top-menu-item a {

  margin: -8px -20px -5px -20px;
  padding: 15px 20px 15px 20px;
  display: block;

}

li.top-menu-item a:hover {
  background: none repeat scroll 0 0 #f4f4f4;
  border-radius: 0 8px 8px 0;
  -webkit-border-radius: 0 8px 8px 0;
  -moz-border-radius: 0 8px 8px 0;
}

li.top-menu-item:first-child {
  border-top: medium none;
}

li.top-menu-item:last-child {
  padding-bottom: 15px;
}

.add-new-school a,
.add-new-school a:hover {
  background: url("../../images/iconset-breathe.png") no-repeat scroll left -510px white !important;
  text-transform: none;
  margin-right: 5px;
  float: right;
  padding: 10px;
  padding-left: 30px;

  -webkit-border-radius: 8px 8px 0 0;
  -moz-border-radius: 8px 8px 0 0;
  border-radius: 8px 8px 0 0;

}


#top-menu #main,
#nav1 ul #main {
  background-color: #7CB7E3;
  color: #FFFFFF;
  left: 0;
  padding-top: 20px;
  top: -20px;
  z-index: 999;
}


.school-menu-button > span,
.organisation-menu-button > span {
  padding: 6px;
  border-radius: 6px;
}

.school-menu-button,
.organisation-menu-button {
  background-image: url(../../images/show-more.png);
  background-repeat: no-repeat;
  background-position: right;
  padding-right: 12px;
}

.topNavContainer {
  background: none repeat scroll 0 0 #F59545;
  background:-moz-linear-gradient(center top , #FAB32E 20%, #F59545 80%) repeat scroll 0 0 transparent;
  background:-webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.20, rgb(245,149,69)),
    color-stop(0.80, rgb(250,179,46))
  );
  background-image: -o-linear-gradient(top,rgb(250,179,46),rgb(245,149,69));

  box-shadow: 2px 4px 6px rgba(68, 68, 68, 0.80);
  height: auto;
  margin: 0;
  min-width: 500px;
  position: fixed;
  top:0;
  width: 100%;
  z-index: 9999;
  -moz-box-shadow: 2px 4px 6px rgba(68, 68, 68, 0.80);
  -webkit-box-shadow: 2px 4px 6px rgba(68, 68, 68, 0.80);
}

.topNavContainer input {
  background: url("../../images/magnifier.png") no-repeat scroll 95% 3px #FFFFFF;
  border: 1px solid #AAAAAA;
  border-radius: 7px;
  box-shadow: 0 1px 0 #FAB32E;
  float: left;
  margin: 5px 0 0 5px !important;
  padding: 5px 30px 5px 10px;
  width: 13em;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}
.topNavContainer input.loading {
  background: url("../../images/ajax-loader.gif") no-repeat scroll 95% 4px #FFFFFF !important;
}
.topNavContentContainer,
.footer_wrap {
  margin: 0 auto;
  max-width: 980px;
  width:90%;
}
#top-menu .last_one,
#nav1 ul .last_one {
  background: none repeat scroll 0 0 transparent;
  border: medium none;
  height: 0;
  margin: 0;
  padding: 0;
  position: relative;
}
#top-menu .middle,
#nav1 ul .middle {
  height: 20px;
  left: 18px;
  position: absolute;
  top: 0;
  width: 105px;
}
#top-menu-right {
  float: right;
  margin: 0 5px 2px 0;
}
#top-menu-right li a[onclick] {
  background: none repeat scroll 0 0 #AD0000;
  border-radius: 6px 6px 6px 6px;
  color: #FFFFF0;
  line-height: 1.8;
  margin: -1px 0 0 10px;
  padding: 2px 10px;
  -moz-border-radius: 6px 6px 6px 6px;
  -webkit-border-radius: 6px 6px 6px 6px;
}
#top-menu-right li a[onclick]:hover {
  background: none repeat scroll 0 0 #DA0000;
}
#top-menu li ul li .school_submenu{display:none;}
#top-menu li ul li:hover .school_submenu {
background: none repeat scroll 0 0 #F59545;
border: medium none;
border-radius: 0 0 6px 0;
display: block;
left: 100%;
margin: -29px 0 0 -1px;
padding: 0;
position: absolute;
-moz-border-radius: 0 0 6px 0;
-webkit-border-radius: 0 0 6px 0;
}
#top-menu .school_submenu li {
border-top: 1px solid #E6E6E6;
margin: 8px;
}
#nav1 ul .current_page_item {
  background: none repeat scroll 0 0 #A36A2A;
  background:-moz-linear-gradient(center bottom , #BA722D 35%, #A36A2A 60%) repeat scroll 0 0 transparent;
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.35, rgb(186,114,45)),
    color-stop(0.6, rgb(153,106,42))
  );
  background-image: -o-linear-gradient(top,rgb(153,106,42),rgb(186,114,45));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#BA722D, endColorstr=#A36A2A);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#BA722D, endColorstr=#A36A2A)";
  border-left: 1px solid #222222;
  border-right: 1px solid #222222;
  border-top: 1px solid #222222;
  position: relative;
}
#nav1 ul .current_page_item a {
  color: #FFFFF0;
  height:40px;
}
ul.menu {
  list-style: none outside none;
  margin: 0;
  padding: 5px 0 0;
}
ul.menu li {
  float: left;
  line-height: 2;
  margin: 0;
  padding: 0 2px;
  position: relative;
}
ul.menu li span {
  display: block;
  padding: 0 5px;
  text-decoration: none;
  width: auto;
}
ul.menu li a {
  display: block;
  font-weight: normal;
  text-decoration: none;
}
ul.menu li.last a {
  background: none repeat scroll 0 0 transparent;
}
ul.menu li a.sub {
  padding-right: 15px;
  text-transform: uppercase;
}
ul.menu li span.sub {
  color: #222222;
  font-weight: bolder;
  padding-right: 10px;
  text-transform: uppercase;
}
li.left a {
  border-bottom-left-radius: 12px;
}
ul.menu li.active a {
  color: #B6E3EC;
}
ul.menu ul {
  border-top: 1px solid #D7D7D7;
  list-style: none outside none;
  margin: 0;
  padding: 0;
  top: 32px;
  width: 168px;
}
ul.menu li:hover li,
ul.menu li:hover li a,
ul.menu li.hover li,
ul.menu li.hover li a {
  background: none repeat scroll 0 0 #FFFFFF;
  color: #000000;
}
ul.menu li li {
  border-left: 1px solid #D7D7D7;
  border-right: 1px solid #D7D7D7;
  width: 100%;
}
ul.menu li li.last {
  border-bottom: 1px solid #D7D7D7;
}
ul.menu li li a {
  padding: 5px 5px 5px 10px;
}
ul.menu li:hover li:hover a,
ul.menu li.hover li.hover a {
  background: none repeat scroll 0 0 #F6F6F6;
  color: #4A4D4A;
}
ul.menu li:hover li.active a,
ul.menu li.hover li.active a {
  color: #F15C30;
}
ul.menu li li a.sub {
  padding-right: 15px;
}
ul.menu li:hover li:hover a.sub,
ul.menu li.hover li.hover a.sub {
  background: none repeat scroll 0 0 #F6F6F6;
}
ul.menu ul ul {
  background: none repeat scroll 0 0 #FFFFFF;
  margin-left: 169px;
  top: -1px;
}
ul.menu li:hover li:hover li:hover a,
ul.menu li.hover li.hover li.hover a {
  background: none repeat scroll 0 0 #E6E6E6;
  color: #000000;
}
ul.menu li:hover li:hover li.active a,
ul.menu li.hover li.hover li.active a {
  color: #F15C30;
}
ul.menu li:hover li:hover li:hover a.sub,
ul.menu li.hover li.hover li.hover a.sub {
}
ul.menu li:hover li:hover li:hover li,
ul.menu li:hover li:hover li:hover li a,
ul.menu li.hover li.hover li.hover li,
ul.menu li.hover li.hover li.hover li a {
  color: #7C7C7C;
}
ul.menu li:hover li:hover li:hover li:hover a,
ul.menu li.hover li.hover li.hover li.hover a {
  background: none repeat scroll 0 0 #CCCCCC;
  color: #000000;
}
ul.menu li:hover li:hover li:hover li.active a,
ul.menu li.hover li.hover li.hover li.active a {
  color: #F15C30;
}
ul.menu li:hover li:hover li:hover li a.sub,
ul.menu li.hover li.hover li.hover li a.sub {
  background: none repeat scroll 0 0 #E6E6E6;
}
ul.menu li:hover li:hover li:hover li:hover a.sub,
ul.menu li.hover li.hover li.hover li.hover a.sub {
  background: none repeat scroll 0 0 #CCCCCC;
}
div#nav ul ul ul ul ul {
  display: none;
}
ul.menu ul,
ul.menu li:hover ul ul,
ul.menu ul ul,
ul.menu li:hover ul ul ul,
ul.menu ul ul ul,
ul.menu li:hover ul ul ul ul {
  left: -999em;
  position: absolute;
}
ul.menu li:hover ul,
ul.menu li li:hover ul,
ul.menu li li li:hover ul,
ul.menu li li li li:hover ul {
  left: -1px;
  z-index: 999;
}
ul.menu li.hover ul ul,
ul.menu li.hover ul ul ul,
ul.menu li.hover ul ul ul ul {
  left: -999em;
  position: absolute;
}
ul.menu li.hover ul,
ul.menu li li.hover ul,
ul.menu li li li.hover ul,
ul.menu li li li li.hover ul {
  left: -1px;
  z-index: 999;
}
