<h1><span><%= t('.title') %></span></h1>

<%= render :partial => 'form',
 :locals => {
  :path => server_automount_path(@server, @automount),
  :submit_text => t('link.update'),
  :method => :put
}
%>
<% content_for :right do %>
<% end %>
