<h1><%= t('.title') %></h1>

<%= render :partial => 'form',
 :locals => {
  :path => server_automount_path(@server, @automount),
  :submit_text => t('link.update'),
  :method => :put
}
%>

<% content_for :right do %>
<%= link_to t('link.show'), [@server, @automount] %><br />
<%= link_to t('link.back'), server_automounts_path(@server) %>
<% end %>
