<table>
<tr>
  <td class="label_td view"><%= label @automount.class.to_s.downcase, "cn" %></td>
  <td class="value_td"><%=h @automount.cn %></td>
</tr>
</table>

<% content_for :right do %>
<%= link_to t('link.edit'), edit_server_automount_path(@server, @automount) %><br &>
<%= link_to t('link.back'), server_automounts_path(@server) %>
<% end %>
