<div class="login">
  <a href="http://opinsys.fi" target="_blank">
    <img src="users/logo.png" alt="Opinsys Oy">
  </a>

  <p class="service-name">
    Puavo
  </p>

  <fieldset class="inputs">
    <% @services.each do |service| %>
      <% key = service.keys.first %>
      <% @link_name = service[key]["link_name"] || t(".service_link_name_#{ key }") %>
      <p>
        <%= link_to @link_name, service[key]["url"] %>
      </p>
    <% end %>
  </fieldset>
</div>
