<div id="container">
  <% if @login_content['upper_logos'] %>
  <div id="upperLogos" class="logoRow">
<%= render 'logorow', logos: @login_content['upper_logos'] %>
  </div>
  <% end %>

  <p id="serviceName"><span>Puavo (<%= @organisation.name %>)</span></p>

  <ul id="services">
  <% @services.each do |service| %>
    <% key = service.keys.first %>
    <% link_name = service[key]["link_name"] || t(".service_link_name_#{ key }") %>
    <li><%= link_to link_name, service[key]["url"] %></li>
  <% end %>
  </ul>

  <% if @login_content['lower_logos'] %>
  <div id="lowerLogos" class="logoRow">
<%= render 'logorow', logos: @login_content['lower_logos'] %>
  </div>
  <% end %>
</div>
