<ul>
  <li <%= controller_name == "devices" ? "class=current" : "" %>><%= link_to t('link.devices'), devices_path(@school) %></li>
  <li <%= controller_name == "school_printers" ? "class=current" : "" %>><%= link_to "Printer Queues", schools_school_printers_path(@school) %></li>
</ul>
