<% page_title t('titles.schools'), @school.displayName, t('titles.devices'), @device.cn, t('titles.edit') %>

<div class="formContainer">

<h1><%= t('.edit') %></h1>

<%= render :partial => 'form',
 :locals => {
  :path => device_path(@school, @device),
  :submit_text => t('link.update'),
  :method => :put
}
%>

</div>

<%= render :partial => 'shared/puavoconf_editor', :locals => { storage: "device_puavoConf" } %>
