<h1>Editing device</h1>

<%= render :partial => 'form',
 :locals => {
  :path => device_path(@school, @device),
  :submit_text => t('link.update'),
  :method => :put
}
%>

<%= link_to 'Show', device_path(@device, @school) %> |
<%= link_to 'Back', devices_path %>
