<% page_title t('titles.schools'), @school.displayName, t('titles.devices'), t('titles.new') %>

<h1><%= t('.new_device', :device_type => @device_type_label ) %></h1>

<%= render :partial => 'form',
 :locals => {
  :path => devices_path(@school),
  :submit_text => t('link.create'),
  :method => :post
}
%>

