<% page_title t('titles.schools'), @school.displayName, t('titles.devices'), t('titles.new') %>

<div class="formContainer">

<h1><%= t('.new_device', :device_type => @device_type_label ) %></h1>

<%= render :partial => 'form',
 :locals => {
  :path => devices_path(@school),
  :submit_text => t('link.create'),
  :method => :post
}
%>

</div>

<%= render :partial => 'shared/puavoconf_editor', :locals => { storage: "device_puavoConf" } %>

<% if @permit_edit_expiration_times %>
<%= render partial: 'shared/expiration_time_editor', locals: {
        expirationTimeField: "input#device_puavoDeviceExpirationTime",
        clearExpirationTimeButton: "button#clearExpirationTime",
        expirationPresetsSelect: "select#setExpirationTime",
        expirationValue: "input#expirationValue",
        initialExpirationTime: nil
    } %>
<% end %>
