@import 'nib'

// Buttons
.btn
  display inline-block
  *display inline
  cursor pointer
  font-size 100%
  margin-bottom 0
  *margin-left .3em
  text-align center
  vertical-align middle
  *zoom 1
  padding 4px 12px
  text-decoration none

table .btn
  font-weight normal
  padding 4px 12px 4px 8px
  text-decoration none
form .btn
  padding 4px 12px

@media screen-breakpoint-one
  .btn
    padding 0.5em 1em