@import 'nib'

// Buttons
.btn
  display inline-block
  *display inline
  cursor pointer
  font-size 100%
  margin-bottom 0
  *margin-left .3em
  text-align center
  vertical-align middle
  *zoom 1
  padding 4px 12px

.btn:hover, .btn:focus
  text-decoration none

table .btn
  font-weight normal
  text-decoration none

@media screen-breakpoint-one
  .btn
    padding 1em 2em