@import 'nib'

baseBg = rgb(227, 227, 217)
baseGradientBg = rgb(242, 242, 242)

baseBrown = rgb(163, 106, 42)
baseBrownGradient = rgb(186, 114, 45)

baseOrange = rgb(250, 179, 46)
baseOrangeGradient = rgb(245, 149, 69)

baseBoxShadowBorderColor = rgb(34, 34, 34)

buttonBg = rgb(245, 245, 245)
buttonGradientBg = rgb(220, 220, 220)
buttonHoverColor = rgb(51, 51, 51)

buttonDangerBgColor = rgb(231, 6, 0)
buttonDangerBgImage = rgb(219, 64, 60)
buttonDangerGradientBgImage = rgb(194, 31, 22)
buttonDangerHoverBg = rgb(180, 31, 23)

buttonBorderColor = rgba(0, 0, 0, 0.1)
buttonBorderColor2 = rgba(0, 0, 0, 0.25)
buttonBorderHexColor = #e6e6e6
buttonBorderHexColor2 = #bfbfbf

creamWhite = rgb(255, 255, 240)

errorRed = rgb(231, 6, 0)

focusColor = rgb(88, 151, 251)

formElementBorderColor = rgb(200, 200, 200)

infoBgColor = rgb(217, 237, 247)

rowEvenBgColor = rgb(250,250,250)
rowOddBgColor = rgb(235,235,235)
