@import 'nib'

baseBg = rgb(227, 227, 217)
baseGradientBg = rgb(242, 242, 242)

buttonBg = rgb(245, 245, 245)
buttonGradientBg = rgb(220, 220, 220)
buttonHoverColor = rgb(51, 51, 51)

buttonDangerBgColor = rgb(231, 6, 0)
buttonDangerBgImage = rgb(219, 64, 60)
buttonDangerGradientBgImage = rgb(194, 31, 22)
buttonDangerHoverBg = rgb(180, 31, 23)

buttonBorderColor = rgba(0, 0, 0, 0.1)
buttonBorderColor2 = rgba(0, 0, 0, 0.25)
buttonBorderHexColor = #e6e6e6
buttonBorderHexColor2 = #bfbfbf

errorRed = rgb(231, 6, 0)

formElementBorderColor = rgb(200, 200, 200)