@import 'nib'

screen-breakpoint-one = "screen and (max-width: 768px)"
screen-breakpoint-two = "screen and (max-width: 480px)"
screen-breakpoint-three = "screen and (max-width: 320px)"

screen-portrait-breakpoint-one = "screen and (orientation: portrait) and (max-device-width: 800px)"
screen-portrait-breakpoint-two = "screen and (orientation: portrait) and (max-device-width: 540px)"
screen-landscape-breakpoint-one = "screen and (orientation: landscape) and (max-device-width: 960px)"