@import 'nib'

table, th, td
  vertical-align middle

table
  border-collapse collapse
  thead
    th
      background #c3d9ff
  tfoot
    font-style italic
  th,td
    padding 6px
    text-align left
  th
    text-decoration none
    font-size 110%
    font-weight bold
  td
    & > label
      margin 0 0 0 2px
  &.new_groups_table
    tr
      td
        text-align left
  a
    font-weight bold
    text-decoration underline

  &.list
    border-spacing 0
    margin-right 1em
    tr
      display table-row
    .column_1
      display inline
    .column_2
      font-weight bold
      float right
      margin-left 10px
    th
      font-size 100%
      padding-bottom 10px
      padding-top 10px
      word-wrap break-word

.show_user
  td
    border none
    display inline-block
    word-wrap break-word
    width 40%
    &.value_td
      width 50%

.refine_example
  color black

table#autopoweroff
  td
    display table-cell
    text-align left
    &.label_td
      padding-top 20px
      label
        font-weight normal
    select
      width auto

.required
  & > .fieldWithErrors
    display inline

.widelist
  width 100%

@media screen-breakpoint-one
  table
    &.list
      width 100%
      .thead, thead
        display none
      tr
        display block
        padding 2%
      td
        display block
      td[data-title]:before
        content attr(data-title) ":\00A0"
        font-weight bold
      .table-actions
        display inline-block
    &#autopoweroff
      padding 0
      th, td
        display inline-block
        min-width 50px
        width auto
      td
        &.checkbox
          display inline-block
          width 10%
          text-align center