@import 'nib'

table, th, td
  vertical-align middle

table
  border-collapse collapse
  a
    font-weight bold
    text-decoration underline
th
  text-decoration none
  font-size 110%
  font-weight bold

thead
  th
    background #c3d9ff

th,td
  padding 6px
  text-align left

tr
  &.even
    td
      background #e5ecf9

.import_define th, .import_define td
  float left
  width 35% !important

.refine_example
  color black

tfoot
  font-style italic

table#autopoweroff
  td
    display table-cell
    text-align left
    &.label_td
      padding-top 20px
      label
        font-weight normal
    select
      width auto

.search_result
  td
    border-bottom 1px solid #AAAAAA
    width 33.333%