<h1>Listing hosts</h1>

<table>
  <tr>
    <th>Puavohostname</th>
  </tr>

<% @hosts.each do |host| %>
  <tr>
    <td><%=h host.puavoHostname %></td>
    <td><%= link_to 'Show', host %></td>
  </tr>
<% end %>
</table>
