/*
  Base styles that are used on all pages
*/

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: var(--body-back);
  font-family: Arial, "Helvetica Neue", sans-serif;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--page-content-fore);
  background: var(--page-content-back);
}

h1 {
  font-size: 250%;
  border-bottom: 1px solid var(--hx-border);
}

@media screen and (max-width: 800px) {
  h1 {
    font-size: 200%;
  }
}

h2 {
  margin-top: 25px;
  font-size: 200%;
  border-bottom: 1px dashed var(--hx-border);
}

@media screen and (max-width: 800px) {
  h2 {
    font-size: 170%;
  }
}

h3 {
  font-size: 130%;
  border-bottom: 1px dotted var(--hx-border);
}

h4 {
  font-size: 115%;
}

h5 {
  font-size: 110%;
}

h6 {
  font-size: 105%;
}

hr {
  /* Used to break floating boxes into controlled sections, so to speak */
  border: none;
  clear: both;
  float: none;
  height: 0;
  margin: 0;
  width: 100%;
  visibility: hidden;
}

@media screen and (max-width: 800px) {
  abbr {
    /* cannot be hovered, hide the underline */
    text-decoration: none;
  }
}

abbr[title]:after {
  content: "";
}

@media screen and (max-width: 800px) {
  abbr[title] {
    /* Can't hover over abbreviations on mobile, so display their contents */
    content: " (" attr(title) ")";
  }
}
