/*
  Site-wide color definitions
*/

/* Common elements */
$baseBrown: rgb(163, 106, 42);
$baseBrownGradient: rgb(186, 114, 45);
$baseOrange: rgb(250, 179, 46);
$baseOrangeGradient: rgb(245, 149, 69);

$bodyBack: #eee;

$headerBorder: #000;

$defaultBoxShadow: rgba(34, 34, 34, 0.75);

/* Highlight admins and owners in tables */
$adminOwner: #00f;

/*
--------------------------------------------------------------------------------
Top bar
--------------------------------------------------------------------------------
*/

$topbarWrapperBack: linear-gradient($baseOrange, $baseOrangeGradient);

$topbarNavLinkFore: #000;
$topbarNavLinkBack: none;
$topbarNavLinkHoverFore: #000;
$topbarNavLinkHoverBack: #fff;
$topbarNavSeparators: #ccc;
$topbarNavDropdownBack: $baseOrangeGradient;

$extendedSearchButtonFore: #000;
$extendedSearchButtonHoverBack: #fff;

$topbarUsernameFore: #000;

/*
--------------------------------------------------------------------------------
School name, integrations, tab bar
--------------------------------------------------------------------------------
*/

$schoolHeaderBack: #eee;

$schoolNameFore: #000;

/* Integration type and data flow direction labels */
$integrationsBorder: #ccc;
$integrationsInBack: #8ff;
$integrationsInFore: #000;
$integrationsOutBack: #8f8;
$integrationsOutFore: #000;
$integrationsInOutBack: #f88;
$integrationsInOutFore: #000;
$integrationsEmailBack: #44f;
$integrationsEmailFore: #fff;
$integrationsLoginBack: #88f;
$integrationsLoginFore: #fff;
$integrationsPasswordBack: #ff8;
$integrationsPasswordFore: #000;
$integrationsOtherBack: #eee;
$integrationsOtherFore: #000;

/* Tabs */
$tabsFirstBarBack: linear-gradient($baseOrange, $baseOrangeGradient);
$tabsFirstTabFore: #000;
$tabsFirstTabBack: linear-gradient($baseOrange, $baseOrangeGradient);
$tabsFirstTabHoverBack: linear-gradient($baseBrown, $baseBrownGradient);
$tabsFirstTabHoverFore: #fff;
$tabsFirstTabCurrentFore: #fff;
$tabsFirstTabCurrentBack: linear-gradient($baseBrown, $baseBrownGradient);

$tabsSecondBarBack: linear-gradient($baseBrownGradient 35%, $baseBrown 60%);
$tabsSecondTabBack: none;
$tabsSecondTabFore: #e6e6d8;
$tabsSecondTabHoverBack: #fff;
$tabsSecondTabHoverFore: #000;

/*
--------------------------------------------------------------------------------
Page contents
--------------------------------------------------------------------------------
*/

$pageContentBack: rgb(255, 255, 255);
$pageContentFore: rgb(0, 0, 0);   /* used when no other rule applies */

/* H1, H2, etc. headers */
$headingFore: $pageContentFore;
$headingBack: transparent;

$missingDataFore: rgb(255, 0, 0);

/* Things that only organisation owners can see */
$ownersOnlyBorder: rgb(255, 0, 0);

$footerFore: #999;
$footerBorder: #ccc;

/* Ordinary links on page content areas */
$linkFore: #13243f;
$linkBack: none;
$linkHoverFore: #352608;
$linkHoverBack: none;
$linkFocusFore: #000;
$linkFocusBack: none;

/* Links styled as clickable buttons. Also used on form submit/reset buttons,
so verify your changes thoroughly! */
$buttonBorderHi: #f0f0f0;
$buttonBorderLo: #b0b0b0;
$buttonBack: #d0d0d0;
$buttonFore: #000;
$buttonForeDisabled: #888;
$buttonHoverBack: #e0e0e0;
$buttonDangerBorderHi: #f00;
$buttonDangerBorderLo: #600;
$buttonDangerBack: #a00;
$buttonDangerFore: #fff;
$buttonDangerForeDisabled: #888;
$buttonDangerHoverBack: #c00;

/* Flash messages */
$flashSuccessBack: #e6efc2;
$flashSuccessFore: #264409;
$flashSuccessBorder: #c6d880;
$flashNoticeBack: #86b410;
$flashNoticeFore: default;
$flashNoticeBorder: #56340e;
$flashAlertBack: #a00;
$flashAlertFore: #fff;
$flashAlertBorder: #f00;

/* Generic information boxes. These are NOT flash messages. */
$genericNoticeBorder: #0f0;
$genericNoticeBack: #cfc;
$genericNoticeFore: #000;
$genericWarningBorder: #ff0;
$genericWarningBack: #ff9;
$genericWarningFore: #000;
$genericErrorBorder: #f00;
$genericErrorBack: #faa;
$genericErrorFore: #000;

/* Toolboxes */
$toolsContainerBack: none;
$toolsDropdownBack: #fff;
$toolsDropdownBorder: #aaa;
$toolsContainerLinkFore: #000;
$toolsContainerLinkHoverFore: #000;
$toolsContainerLinkHoverBack: $baseOrangeGradient;
$toolsDropdownSeparator: #ccc;

/* Basic info blocks about users, devices, etc. */
$importantBasicInfo: #00f;    /* notifications about important users, etc. */
$importantBasicWarn: #f00;    /* warnings about users, etc. */
$importantBasicError: #f00;   /* user errors, etc. */
$basicInfoBorders: #ccc;

/* Content boxes on "show" pages */
$contentBoxHeaderBack: $baseOrangeGradient;
$contentBoxHeaderFore: #000;
$contentBoxBorder: #999;
$contentBoxShadow: #aaa;
$contentBoxContentsBack: #f0f0f0;
$contentBoxContentsFore: #000;
$contentBoxTableOddRowBack: #f0f0f0;
$contentBoxTableEvenRowBack: #e0e0e0;
$contentBoxContentsHeaderFore: #000;
$contentBoxMultilineItemBorder: #ccc;
$contentBoxTableHeadingBack: #ccc;
$contentBoxSubHeaderFore: #000;
$contentBoxSubHeaderBack: #ccc;

/* In-page tabs */
$inpageTabsWrapperBorder: #888;
$inpageTabsInactiveTabBackground: #ccc;
$inpageTabsInactiveTabForeground: #000;
$inpageTabsActiveTabBackground: #fff;
$inpageTabsActiveTabForeground: #000;
$inpageTabsTabHoverBackground: $baseOrange;
$inpageTabsTabHoverForeground: 000;

/* puavo-conf tables */
$puavoConfOddRow: #f0f0f0;
$puavoConfEvenRow: #e0e0e0;
$puavoConfBorder: #ccc;

$puavoConfOverriddenOddRow: #faa;
$puavoConfOverriddenEvenRow: #fcc;
$puavoConfSourceOrganisation: #ff2b00;
$puavoConfSourceSchool: #9c64ff;
$puavoConfSourceDevice: #00bb66;


/* puavo-conf editor */
$pceDeleteForeground: #f00;
$pceDeleteBackground: none;
$pceDeleteBorder: transparent;
$pceDeleteHoverForeground: #f00;
$pceDeleteHoverBackground: #f88;
$pceDeleteHoverBorder: #f00;
$pceError: #f00;
$pceErrorBackground: #f88;
$pceAutocompleteBackground: #fff;
$pceAutocompleteForeground: #000;
$pceAutocompleteBorder: #000;
$pceAutocompleteHint: #888;
$pceAutocompleteEntryHoverForeground: #fff;
$pceAutocompleteEntryHoverBackground: #ccc;
$pceAutocompleteMatchForeground: #000;
$pceAutocompleteMatchBackground: #ccc;

/* Miscellaneous */
$mountPointsHeadingBack: #ccc;
$groupRenameTableHeaderBack: #ccc;
$externallyMaintainedGroupFore: #080;
$externallyMaintainedGroupBack: transparent;
$deletionMarkTimestamp: #f00;
$usernameListTableBorder: #ccc;
$courseGroup: #080;

/* Organisation password requirements info boxes */
$passwordRequirementsBackground: rgb(217, 237, 247);
$passwordRequirementsBorder: darken(rgb(217, 237, 247), 10%);

/* School admin permissions page */
$adminPermissionsAllowBackground: #0f0;
$adminPermissionsAllowForeground: #000;
$adminPermissionsDenyBackground: #f00;
$adminPermissionsDenyForeground: #fff;

/*
--------------------------------------------------------------------------------
Forms
--------------------------------------------------------------------------------
*/

$formFieldsetBorderColor: #ccc;

$formLabelColor: rgb(0, 0, 0);
$formErrorColor: rgb(255, 0, 0);

$formFore: #000;
$formOddRowBack: #f5f5f5;
$formEvenRowBack: #e9e9e9;
$formButtonRowBack: #ccc;

$errorRed: rgb(231, 6, 0);

$focusColor: rgb(88, 151, 251);

$formElementBorderColor: rgb(200, 200, 200);

$adminGroupsHeaderBorder: #000;   /* used on user edit forms */

/*
--------------------------------------------------------------------------------
Lists in tables
--------------------------------------------------------------------------------
*/

$listHeadingBack: linear-gradient($baseOrange, $baseOrangeGradient);
$listHeadingFore: #000;
$listHeadingBorder: #888;
$listOddRowBack: #ebebeb;
$listEvenRowBack: #fafafa;
$listRowHoverBack: #f9f7e6;
$listRowBorder: #c8c8c8;
$listFore: #000;

/* Sortable Tables (not supertables) */
$listSortableColumnHeaderBorder: #999;
$listSortableColumnHover: linear-gradient(darken($baseOrange, 5%), darken($baseOrangeGradient, 5%));
$listSelectedColumn: #d0d0d0;
$listSelectedColumnRowHover: darken(#f9f7e6, 10%);

/* Group member lists */
$markedForDeletionOddRowBack: #faa;
$markedForDeletionEvenRowBack: #fcc;
$markedForDeletionRowHoverBack: #fdd;
$markedForDeletionBackground: #f66;

/*
--------------------------------------------------------------------------------
Supertables
--------------------------------------------------------------------------------
*/

$stTabsBorder: #aaa;
$stTabDisabledForeground: #aaa;
$stTabDisabledBackground: #ddd;
$stTabBackground: #ddd;
$stTabHoverBackground: #eee;
$stTabSelectedBackground: #fff;

$stFiltersRowBorder: #ccc;
$stFiltersInvalidColumn: #ffa;
$stFiltersInvalidFilter: #faa;
$stFiltersRowHoverBackground: #e0e0e0;
$stFiltersOperator: #080;
$stFiltersValue: #00f;

$stFiltersPopupBorder: #aaa;
$stFiltersPopupShadow: rgba(0, 0, 0, 1.0);
$stFiltersPopupBackground: #fff;
$stFiltersPopupHeaderBackground: #ccc;
$stFiltersPopupHeaderBorder: #888;
$filterPopupMissingColumn: #888;

$stStatusBorder: $stTabsBorder;
$stStatusSuccess: #6f6;
$stStatusFail: #f66;

$stErrorBorder: $genericErrorBorder;
$stErrorBackground: #f44;
$stErrorForeground: #fff;

$stTableBorder: #888;
$stTableHeaderBackground: $listHeadingBack;
$stTableHeaderForeground: #000;
$stTableHeaderHoverBackground: linear-gradient(darken($baseOrange, 10%), darken($baseOrangeGradient, 10%));
$stTableRowHoverBackground: #f9f7e6;
$stTableSortedColumnBackground: #e0e0e0;
$stTableSortedColumnHoverBackground: darken(#f9f7e6, 10%);
$stTableCheckboxColumnBack: #fff;

$stTableSuccessRowBackground: #afa;
$stTableSuccessRowHoverBackground: #8f8;
$stTableSuccessRowSortedBackground: #80ff80;
$stTableSuccessRowHoverSortedBackground: #6f6;

$stTableFailRowBackground: #faa;
$stTableFailRowHoverBackground: #f88;
$stTableFailRowSortedBackground: #ff8080;
$stTableFailRowHoverSortedBackground: #f66;

$stTablePreviousRowBorder: #000;

$stTableDragHeaderShadow: #000;
$stTableDragHeaderMarker: #00f;

/*
--------------------------------------------------------------------------------
Search
--------------------------------------------------------------------------------
*/

$searchFieldBackgroundColor: #fff;
$searchResultsBackground: #fff;
$searchResultsBorder: #cccaaa;
$searchResultsSeparatorLine: #000;
$searchNoResults: #aaa;

$extendedSearchError: #f00;
$extendedSearchNoResults: #00f;
$extendedSearchNoMatches: #666;

$extendedSearchResultsFore: #000;
$extendedSearchResultsBack: #ccc;
$extendedSearchResultsDivider: #000;

/*
--------------------------------------------------------------------------------
Devices
--------------------------------------------------------------------------------
*/

/* Hardware info */
$hwInfoBorder: #aaa;
$hwInfoTitleBack: #eee;

/* Image usage statistics */
$deviceStatsImageHeaderFore: #000;
$deviceStatsImageHeaderBack: $listOddRowBack;
$deviceStatsPercentageBorder: #000;
$deviceStatsPercentageBack: #fff;
$deviceStatsPercentageFore: #080;
$deviceStatsDeviceListBorder: #aaa;
$deviceStatsReleaseName: #088;

$deviceStatsReleaseStretch: #008;
$deviceStatsReleaseBuster: #080;
$deviceStatsReleaseBullseye: #a00;
$deviceStatsReleaseBookworm: #808;
