/* Desktop image statistics */
.imageStats {
  width: 100%;

  /* Clickable image headers */
  .header {
    color: $deviceStatisticsImageHeaderForeground;
    background: $deviceStatisticsImageHeaderBackground;
    cursor: pointer;

    &:hover {
      color: $deviceStatisticsImageHeaderHoverForeground;
      background: $deviceStatisticsImageHeaderHoverBackground;
    }

    .nameCol {
      width: 36%;
    }

    .barCol {
    }

    /* Percentage bars */
    .barOuter {
      background: $deviceStatisticsPercentageBackground;
      border: 1px solid $deviceStatisticsPercentageBorder;
      display: block;
      width: 100%;
      height: 100%;
    }

    .barInner {
      background: $deviceStatisticsPercentageForeground;
      display: block;
      height: 100%;
    }
  }

  /* Device lists under desktop image names */
  .deviceListRow {
    ul {
      border-left: 5px solid $deviceStatisticsDeviceListBorder;
      margin: 0 0 0 20px;
      padding: 0;
    }

    li {
      margin-left: 2em;
      padding: 0;
    }
  }
}

.withoutInfo {
  /* "A" elements in tables are bold, harmonize style. */
  /* TODO: Make this global within the page container? */
  a {
    font-weight: bold;
  }
}
