/* editForms are used for creating and editing users, group, devices, schools, and so on */
.editForm {
  border-collapse: collapse;
  width: 100%;

  td, th {
    padding: 10px;
  }

  tr:nth-child(odd) {
    background: $formOddRowBackground;
  }

  tr:nth-child(even) {
    background: $formEvenRowBackground;
  }

  th {
    text-align: right;
    width: 250px;
  }

  .buttonRow td, .buttonRow th {
    background: $formButtonRowBackground;
  }

  input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
  }

  input[type="checkbox"], input[type="radio"] {
    padding: 0;
    margin: 0 5px 0 0;    /* push labels away from the input box */

    @media #{$screen-breakpoint-one} {
      /* The label gets collapsed, so push the element away from the
         element above it. */
      margin: 10px;
    }
  }

  select {
    padding: 5px;
    width: 100%;
  }

  textarea {
    width: 100%;
  }

  label {
    /* Labels for checkboxes/radio buttons */
    font-weight: normal;
    font-size: 120%;
    line-height: 2;
  }

  th label {
    font-size: 110%;
    font-weight: bold;
    word-wrap: none;
    color: $formLabelColor;
    padding: 0;
    margin: 0;
  }

  /* Submit and cancel buttons */
  input[type="submit"] {
    font-size: 120%;
    height: 70px;
    width: 50%;
    max-width: 300px;
  }

  .cancel {
    display: inline;
    font-size: 100%;
    margin: 0;
    padding: 0;
    width: 100px;
  }

  .cancel:before {
    content: " – ";
  }
}

input[type="submit"] {
  box-shadow: inset 0 1px 0 $formSubmitButtonShadow1, 0 1px 2px $formSubmitButtonShadow2;
  background-image: $formSubmitButtonBackground;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-image: $formSubmitButtonHoverBackground;
  border: 1px solid $focusColor;
}

/* The "* = required" label displayed at the top of forms */
.required_info {
  color: $formErrorColor;
}

.field_error {
  color: $formErrorColor;
  font-weight: bold;
  display: block;
}

.required .field_with_errors {
  display: inline-block;
}

.required:after {
  content: " *";
  font-size: 120%;
  color: $formErrorColor;
}

/* Fields with invalid/missing values */
.editForm .label_error {
  color: $formErrorColor;
}

/* The small label below the field explaining what's wrong with the current value */
.field_with_errors {
  color: $formLabelColor;
  font-weight: bold;
}

.field_with_errors input, .field_with_errors select {
  border: 1px solid $formErrorColor;
}

/* Administrative groups checkbox list header */
.administrativeGroups header {
  border-bottom: 1px dashed $adminGroupsHeaderBorder;
  font-size: 110%;
  margin-bottom: 5px;
  margin-left: 10px;
  margin-top: 10px;
}

.administrativeGroups header:first-of-type {
  margin-top: 0;
}

/* Administrative groups checkbox list entry */
.administrativeGroups input[type="checkbox"] {
  margin-left: 30px;
  margin-right: 0;
}

fieldset {
  border: 1px solid $formFieldsetBorderColor;
  padding: 10px;
  margin: 10px;
}

legend {
  padding: 0 5px;
  font-weight: bold;
  font-size: 110%;
}

/* The "clone" buttons in email/phone number/mac address/etc. fields */
.clone_prev_input_element {
  margin-bottom: 0.5em;
}

@media #{$screen-breakpoint-one} {
  /* Turn tables into what looks like lists of table rows */
  .editForm {
    padding: 0;

    table, tbody {
      display: block;
    }

    tr {
      display: block;
      position: relative;
      padding: 5px 10px;
    }

    th {
      text-align: left;
      width: auto;
      padding: 0;
    }

    .buttonRow {
      background: $formButtonRowBackground !important;
    }

    td {
      display: block;
      text-align: left;
      padding: 0;
    }
  }
}
