/*
  Groups
*/

/* Mass group rename */
.massGroupRenameTable th {
  text-align: left !important;
  background: #ccc;
}

input#groupMembersSearch {
  max-width: 30em;
}

#groupMembers {
  p {
    margin: 0 0 5px 0;
  }

  #membersTable {
    max-height: 1000px;
    overflow-y: auto;
  }

  th {
    background: var(--list-heading-back);
    color: var(--list-heading-fore);
  }

  tr {
    border-bottom: 1px solid var(--list-row-border);
    background: none;
  }

  tr:hover {
    background: var(--list-row-back-hover);
  }

  tr:last-of-type {
    border-bottom: none;
  }

  .markedForDeletion:nth-child(even) {
    background: var(--group-member-marked-deletion-odd-back) !important;
  }

  .markedForDeletion:nth-child(odd) {
    background: var(--group-member-marked-deletion-even-back) !important;
  }
}
