/*
  Groups
*/

/* Mass group rename */
.massGroupRenameTable th {
  text-align: left !important;
  background: #ccc;
}

input#groupMembersSearch {
  max-width: 30em;
}

#groupMembers p {
  margin: 0 0 5px 0;
}

#groupMembers #membersTable {
  max-height: 1000px;
  overflow-y: auto;
}

#groupMembers th {
  background: var(--list-heading-back);
  color: var(--list-heading-fore);
}

#groupMembers tr {
  border-bottom: 1px solid var(--list-row-border);
  background: none;
}

#groupMembers tr:hover {
  background: var(--list-row-back-hover);
}

#groupMembers tr:last-of-type {
  border-bottom: none;
}

#groupMembers .markedForDeletion:nth-child(even) {
  background: var(--group-member-marked-deletion-odd-back) !important;
}

#groupMembers .markedForDeletion:nth-child(odd) {
  background: var(--group-member-marked-deletion-even-back) !important;
}
