.hwInfoTimestamp {
  font-size: 110%;
  padding: 0.5em 0.25em;
}

.hwInfoTable {
  border: 2px solid $hwInfoBorder;
  border-collapse: collapse;

  th {
    border: 1px solid $hwInfoBorder;
    padding: 7px;
    text-align: right;
    width: 150px;
  }

  .main {
    text-align: center;
    vertical-align: middle;
    background: $hwInfoTitleBackground;
  }

  td {
    border: 1px solid $hwInfoBorder;
    padding: 7px;
  }

  .sectionEnd {
    border-bottom: 2px solid $hwInfoBorder;
  }
}
