/* External systems integration indicators */
.integrations {
  display: flex;
  flex-flow: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0 0 5px 0;
  line-height: 1;
  cursor: default;
  font-size: 80%;

  /* Indicator labels or badges, whatever you want to call them */
  li {
    margin: 2px 5px 2px 0;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid $integrationsBorder;
    white-space: nowrap;
    display: inline;
  }

  /* Special spans for adding arrows indicating data flow directions */
  span {
    font-family: "puavo-icons";
    padding: 0 5px;
  }

  .in {
    background: $integrationsInBackground;
    color: $integrationsInForeground;

    span:after {
      content: "\e829";
    }
  }

  .out {
    background: $integrationsOutBackground;
    color: $integrationsOutForeground;

    span:after {
      content: "\e829";
    }
  }

  .inout {
    background: $integrationsInOutBackground;
    color: $integrationsInOutForeground;

    span:after {
      content: "\e819";
    }
  }

  .login {
    background: $integrationsLoginBackground;
    color: $integrationsLoginForeground;
  }

  .login:before {
    /* "Abuse" the puavo-icons */
    content: "\e824";
    font-family: "puavo-icons";
    padding-right: 5px;
  }

  .password {
    background: $integrationsPasswordBackground;
    color: $integrationsPasswordForeground;
  }

  .password:before {
    content: "\e81d";
    font-family: "puavo-icons";
    padding-right: 5px;
  }

  .other {
    background: $integrationsOtherBackground;
    color: $integrationsOtherForeground;
  }

  .other:before {
    content: "\e821";
    font-family: "puavo-icons";
    padding-right: 5px;
  }
}

@media #{$screen-breakpoint-one} {
  .integrations {
    padding-left: 5px;

    li {
      margin: 2px 2px 2px 0;
      padding: 5px;
    }
  }
}

.inlineIntegrations {
  display: inline;
  list-style-type: none;
  margin-left: 20px;
  font-size: 90%;

  li {
    padding: 2px 5px;
    border: 1px solid $integrationsBorder;
    white-space: nowrap;
    display: inline;
  }
}
