/*
  Media query breakpoints
*/

/*
TODO: Of couse CSS's var() syntax does not work in @media elements, so it's
a painful search-and-replace operation... or remove all media queries.

Media Queries Level 5 appears to support what we need, but it's still a
working draft and no browser supports them.
See: https://www.w3.org/TR/mediaqueries-5/#custom-mq
*/

$screen-breakpoint-one: "screen and (max-width: 800px)";
$screen-breakpoint-two: "screen and (max-width: 480px)";
$screen-portrait-breakpoint-one: "screen and (orientation: portrait) and (max-device-width: 800px)";
$screen-portrait-breakpoint-two: "screen and (orientation: portrait) and (max-device-width: 540px)";
