/*
  Flash messages and other message/notification/info boxes
*/

@mixin message {
  font-size: 130%;
  text-align: center;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
}

/* TODO: What's the difference between message_success and message_notice? Merge them. */

.message_success {
  @include message;
  background: $flashSuccessBack;
  color: $flashSuccessFore;
  border: 1px solid $flashSuccessBorder;
}

.message_notice {
  @include message;
  background: $flashNoticeBack;
  color: $flashNoticeFore;
  border: 1px solid $flashNoticeBorder;
}

/* TODO: Merge alert and error messages */
.message_alert, .message_error {
  @include message;
  background: $flashAlertBack;
  color: $flashAlertFore;
  border: 1px solid $flashAlertBorder;
}

@mixin genericBox {
  padding: 10px;
  margin: 10px;
}

.genericNotice {
  @include genericBox;
  color: genericNoticeFore;
  background: $genericNoticeBack;
  border: 2px solid $genericNoticeBorder;
}

.genericWarning {
  @include genericBox;
  color: genericWarningFore;
  background: $genericWarningBack;
  border: 2px solid $genericWarningBorder;
}

.genericError {
  @include genericBox;
  color: genericErrorFore;
  background: $genericErrorBack;
  border: 2px solid $genericErrorBorder;
}
