/*
  Tabs below the school name
*/

/* TODO: Make it possible to access second-level tabs from other first-level tabs.
   Can be done if we play with hover effects, for example. I hate that I have to
   first load the users list before I can access groups, for example. */

#tabs {
  /* Styles common for both levels */
  ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    display: inline;
  }

  a {
    display: block;
    margin: 0;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
  }

  /* First level */
  .first {
    a {
      font-size: 80%;
      font-weight: bold;
      text-transform: uppercase;
      padding: 1em 1.5em;
    }

    ul {
      background: $tabsFirstBarBack;
    }

    li {
      background: $tabsFirstTabBack;

      a {
        color: $tabsFirstTabFore;
      }
    }

    li:hover {
      background: $tabsFirstTabHoverBack;

      a {
        color: $tabsFirstTabHoverFore;
      }
    }

    li.current {
      background: $tabsFirstTabCurrentBack;

      &:hover {
        background: $tabsFirstTabHoverBack;
      }

      a {
        color: $tabsFirstTabCurrentFore;
      }
    }
  }

  /* Second level */
  .second {
    ul {
      background: $tabsSecondBarBack;
    }

    li {
      margin: 0;
      padding: 0;
    }

    a {
      background: $tabsSecondTabBack;
      color: $tabsSecondTabFore;
      padding: 1em 1.5em;
      font-weight: normal;
      font-size: 70%;
    }

    a:hover, .current a {
      background: $tabsSecondTabHoverBack;
      color: $tabsSecondTabHoverFore;
    }
  }

  @media #{$screen-breakpoint-one} {
    .first a {
      padding: 1em;
    }

    .navbarSecondLevel {
      ul {
        border: none;
      }

      a {
        padding: 1em;
      }
    }
  }
}

/* In-page JavaScript tabs */
.tabBar {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0 0 0 5px;
    display: flex;
  }

  li {
    display: inline;
    margin-right: 2px;
  }

  a {
    display: block;
    padding: 10px 20px;
    outline: none;
    text-decoration: none;
    background: #efefef;
    color: #000;
    font-weight: normal;

    &:hover {
      background: #ddd;
    }
  }

  a.tabActive {
    background: linear-gradient($baseOrange, $baseOrangeGradient);
    cursor: default;

    &:hover {
      background: linear-gradient($baseOrange, $baseOrangeGradient);
    }
  }
}

.tabContentsWrapper {
  border-top: 1px solid #888;
  margin-top: -1px;
}

.tabContentsInvisible {
  display: none;
}

.tabContentsVisible {
  display: block;
}
