/*
  Tabs below the school name
*/

/* TODO: Make it possible to access second-level tabs from other first-level tabs.
   Can be done if we play with hover effects, for example. I hate that I have to
   first load the users list before I can access groups, for example. */

#tabs {
  /* Styles common for both levels */
  ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    display: inline;
  }

  a {
    display: block;
    margin: 0;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
  }

  /* First level */
  .first {
    a {
      font-size: 80%;
      font-weight: bold;
      text-transform: uppercase;
      padding: 1em 1.5em;
    }

    ul {
      background: var(--tabs-pri-back);
    }

    li {
      a {
        color: var(--tabs-pri-tab-fore);
      }
    }

    li:hover {
      background: var(--tabs-pri-tab-back-hover);

      a {
        color: var(--tabs-pri-tab-fore-hover);
      }
    }

    li.current {
      background: var(--tabs-pri-current-back);

      a {
        color: var(--tabs-pri-current-fore);
      }
    }
  }

  /* Second level */
  .second {
    ul {
      background: var(--tabs-sec-back);
    }

    li {
      margin: 0;
      padding: 0;
    }

    /* use !important, #content > a tries to override these */
    a {
      color: var(--tabs-sec-tab-fore);
      padding: 1em 1.5em;
      font-weight: normal;
      font-size: 70%;
      border: 1px solid transparent;
    }

    a:hover, .current a {
      background: var(--tabs-sec-tab-back-hover);
      color: var(--tabs-sec-tab-fore-hover);
    }
  }

  @media #{$screen-breakpoint-one} {
    .first a {
      padding: 1em;
    }

    .navbarSecondLevel {
      ul {
        border: none;
      }

      a {
        padding: 1em;
      }
    }
  }
}

/* In-page JavaScript tabs */
.tabBar {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0 0 0 5px;
    display: flex;
  }

  li {
    display: inline;
    margin-right: 5px;
  }

  a {
    display: block;
    padding: 5px 50px;
    outline: none;
    text-decoration: none;
    background: var(--inpagetabs-tab-back) !important;
    color: var(--inpagetabs-tab-fore) !important;
    font-weight: normal !important;
    border: 1px solid var(--inpagetabs-border);

    &:hover {
      background: var(--inpagetabs-tab-back-hover) !important;
      color: var(--inpagetabs-tab-fore-hover) !important;
    }
  }

  a.tabActive {
    background: var(--inpagetabs-tab-back-active) !important;
    color: var(--inpagetabs-tab-fore-active) !important;
    cursor: default !important;
    border-bottom: 1px solid var(--inpagetabs-tab-back-active);

    &:hover {
      background: var(--inpagetabs-tab-back-active) !important;
    }
  }
}

.tabContentsWrapper {
  margin-top: -1px;
  border: 1px solid var(--inpagetabs-border);

  padding: 10px;

  :first-child {
    margin-top: 0;
  }
}

.tabContentsInvisible {
  display: none;
}

.tabContentsVisible {
  display: block;
}
