.passwordBody {
  background: $passwordFormBody;
  font-family: "Ubuntu", "Arial", sans-serif;
}

.passwordContainer {
  width: 90%;
  font-size: 90%;
  margin: 25px auto;
  max-width: 1200px;
  min-width: 600px;   /* the mobile layout kicks in before this (at least it should...) */

  @media #{$screen-breakpoint-one} {
    width: 100%;
    margin: 0;
    max-width: unset;
    min-width: unset;
  }

  .passwordTabs {
    ul {
      list-style-type: none;
      display: flex;
      align-items: stretch;
      justify-content: space-evenly;
      margin: 0;
      padding: 0;
    }

    li {
      display: inline;
      width: 50%;
    }

    a, span {
      display: block;
      height: 100%;
      color: inherit;
      padding: 1em 0;
      text-align: center;
    }

    a {
      text-decoration: none;
      background: $passwordFormTabNormalBackground;
      color: $passwordFormTabNormalForeground;
    }

    a:hover {
      background: $passwordFormTabHoverBackground;
      color: $passwordFormTabHoverForeground;
    }

    span {
      background: $passwordFormTabBackground;
      color: $passwordFormTabForeground;
      cursor: default;
      font-weight: bold;
    }

    #left {
      border-radius: 10px 0 0 0;
    }

    #right {
      border-radius: 0 10px 0 0;
    }

    @media #{$screen-breakpoint-one} {
      a {
        font-size: 100%;
        padding: 1em 0;
      }

      #left, #right {
        border-radius: 0;
      }
    }
  }

  .content {
    font-size: 80%;
    background: #fff;
    border: 10px solid $baseOrangeGradient;
    padding: 1em;

    @media #{$screen-breakpoint-one} {
      border: none;
      border-radius: 0;
    }

    h1 {
      margin: 0 0 1em 0;
      padding: 0;
    }
  }
}

/* Also used on user edit forms */
.passwordNotice {
  background: $infoBgColor;
  padding: 1em;
}
