/*
  Tables
*/

table {
  border-collapse: collapse;
}

th, td {
  vertical-align: middle;
  margin: 0;
  padding: 6px;
}

th {
  font-size: 110%;
  text-align: left;
  text-decoration: none;
}

/* Lists of schools, users, devices, etc. */
.list {
  width: 100%;
  color: $listFore;

  th {
    background: $listHeadingBack;
    color: $listHeadingFore;
    border-top: 1px solid $listHeadingBorder;
    border-left: 1px solid $listHeadingBorder;
    border-bottom: 1px solid $listHeadingBorder;
    padding: 10px;
    font-size: 100%;
  }

  tbody > tr:last-child {
    border-bottom: 1px solid $listHeadingBorder;
  }

  th:first-of-type {
    border-left: none;
  }

  tr:nth-child(odd) {
    background: $listOddRowBack;
  }

  tr:nth-child(even) {
    background: $listEvenRowBack;
  }

  tr:hover {
    background: $listRowHoverBack;
  }

  /* Row/highlight colors for selected columns in tables that can be sorted/filtered */
  tr:nth-child(odd) .selectedColumn {
    background: darken($listOddRowBack, 5%);
  }

  tr:nth-child(even) .selectedColumn {
    background: darken($listEvenRowBack, 5%);
  }

  tr:hover .selectedColumn {
    background: darken($listRowHoverBack, 5%);
  }

  td {
    border-left: 1px solid $listRowBorder;
  }

  td:first-of-type {
    border-left: none;
  }

  .form {
    margin-top: 20px;
    float: left;
  }

  input[type="text"] {
    width: 15em;
  }

  input[type="submit"] {
    paddin: 0;
    margin: 0;
    width: auto;
    height: auto;
    float: right;
  }

  @media #{$screen-breakpoint-one} {
    /* Minimize lists */
    width: 100%;

    .thead, th {
      display: none;
    }

    tbody > tr:last-child {
      border-bottom: none;
    }


    tr {
      display: block;
      padding: 2%;
      border-bottom: 1px solid $listRowBorder;
    }

    td {
      display: block;
      padding: 2px;
      border: none;
    }

    td:first-of-type {
      font-size: 120%;
      padding: 6px 2px;
    }

    td[data-title]:before {
      content: attr(data-title) ":\00A0";
      font-weight: bold;
    }

    .tableActions {
      display: inline-block;

      .btn {
        font-size: 90%;
        padding: 2px 10px;
      }
    }
  }
}

/* Sortable column headers. Each TH element contains a flexbox DIV that
   contains two spans: one for the title, one for the sort direction
   arrow. Flexbox is used because I want to right-align the sort arrow
   and a flexbox is the only way to do that even somewhat reliably. */
.sortHeader {
  cursor: pointer;

  &:hover {
    background: $listSortableColumnHover;
  }

  /* The container DIV */
  div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;

    /*
      What JavaScript taketh, CSS giveth. What a mess...
      https://css-tricks.com/slightly-careful-sub-elements-clickable-things/
    */
    pointer-events: none;

    /* The child spans */
    .title {
      display: inline;
    }

    .arrow {
      display: inline;
      margin-left: auto;    /* right-align the arrow */
    }
  }
}

/* Setup the sort direction arrows */
/* TODO: The arrows should be changed in the JavaScript code, not here. */
@mixin sortCommon($padding) {
  font-family: puavo-icons;
  font-size: 120%;
  font-weight: normal;
  padding-left: $padding;
  padding-right: 10px;
};

.orderAscending, .orderDescending {
  background: $listSortableColumnHover !important;
}

.orderNone .arrow:after {
  @include sortCommon(10px);
  content: "\f0dc";       /* up arrow, down arrow */
}

.typeString.orderAscending .arrow:after {
  @include sortCommon(5px);
  content: " \f15d";      /* A -> Z */
}

.typeString.orderDescending .arrow:after {
  @include sortCommon(5px);
  content: " \f15e";      /* Z -> A */
}

.typeNumeric.orderAscending .arrow:after {
  @include sortCommon(6px);
  content: " \f162";      /* 1 -> 9 */
}

.typeNumeric.orderDescending .arrow:after {
  @include sortCommon(6px);
  content: " \f163";      /* 9 -> 1 */
}

/* Alternate colors for the "marked for deletion" users table */
.usersMarkedForDeletion {
  tr:nth-child(even) {
    background-color: $markedForDeletionEvenRowBack;
  }

  tr:nth-child(odd) {
    background-color: $markedForDeletionOddRowBack;
  }

  tr:hover {
    background: $markedForDeletionRowHoverBack;
  }

  tr:nth-child(odd) .selectedColumn {
    background: darken($markedForDeletionOddRowBack, 5%);
  }

  tr:nth-child(even) .selectedColumn {
    background: darken($markedForDeletionEvenRowBack, 5%);
  }

  tr:hover .selectedColumn {
    background: darken($markedForDeletionRowHoverBack, 5%) !important;
  }
}
