/* The deletion timestamp on user "show" pages */
.userMarkedForDeletion {
  color: $deletionMarkTimestamp;
}

/* Password policy info boxes. Also used on password changing forms. */
.passwordNotice {
  background: $passwordRequirementsBackground;
  border: 1px solid $passwordRequirementsBorder;
  padding: 1em;
}

.userShowGroups {
  margin: 0;
  padding-left: 20px;

  ul {
    padding-left: 20px;
    margin-bottom: 10px;
  }
}

/* Unloaded username lists */

.userListTable {
  /* We don't want to style the username list <table>, so emulate tables.
     We then also can adjust the styles better with media queries. */
  display: table;
  table-layout: fixed;
  width: 100%;
  border-top: 1px solid $usernameListTableBorder;
  padding-top: 15px;
  margin-top: 15px;
}

.userListRow {
  display: table-row;
}

.userListCol {
  display: table-cell;
  vertical-align: top;
  padding: 0 10px;
}

.userListMeta {
  padding-bottom: 5px;
}

.userListMeta p {
  margin: 0;
  padding: 0;
}

.userListLeft {
}

.userListBox {
  max-height: 400px;
  overflow-y: scroll;
  width: 100%;
}

.userListBox .list {
  width: 100%;
}

.userListRight {
  p {
    padding: 5px 0;
    margin: 0;
  }

  /* Style the password form a bit */
  input[type="text"] {
    margin-left: 10px;
  }

  p.submitRow {
    padding-top: 20px;
  }

  input[type="submit"] {
    padding: 10px 20px;
  }

  .btn {
    margin-left: 20px;
  }
}

@media #{$screen-breakpoint-one} {
  .userListTable, .userListRow, .userListCol {
    /* collapse the table columns */
    display: block;
  }

  .userListBox {
    border: 1px solid $usernameListTableBorder;   /* does wonders for visibility */
    max-height: 250px;
    width: 66%;   /* leave room for scrolling the page */
  }
}
