.noOwnerSelfRemove {
  display: block;
  margin: 8px 5px;
}

/* Schools editing page */
.schoolsTable {
  th span {
    font-size: 120%;
  }

  tr.school {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
  }

  tr.school:hover {
    background: $listRowHoverBack;
  }

  tr.primary {
    background: #eee;
    border: 2px solid #ccc;
  }

  /* argh, this needs to be its own class */
  .admin {
    color: $importantBasicInfo;
  }
}

/* The deletion timestamp on user "show" pages */
.userMarkedForDeletion {
  color: $deletionMarkTimestamp;
}

/* Password policy info boxes. Also used on password changing forms. */
.passwordNotice {
  background: $passwordRequirementsBackground;
  border: 1px solid $passwordRequirementsBorder;
  padding: 1em;
}

.userShowGroups {
  margin: 0;
  padding-left: 20px;

  ul {
    padding-left: 20px;
    margin-bottom: 10px;
  }
}

/* Username lists page */
.usernameListEntry {
  padding-bottom: 20px;
  border-bottom: 1px solid $usernameListTableBorder;
}

.usernameListEntry:last-of-type {
  padding-bottom: none;
  border-bottom: none;
}

.userListBox {
  max-height: 300px;
  overflow-y: auto;
}
