school:
  prefix: ou=Groups
  classes:
  - top
  - posixGroup
  - puavoSchool
  - sambaGroupMapping
  dn_attribute: puavoId
  attributes:
    name: displayName
puavo_ca:
  host: localhost
  port: 443
  ca_file: /etc/ssl/certs/puavo-ca.crt
default_device_type: laptop
device_types:
  thinclient:
    label:
      en: Thinclient
    classes: puavoNetbootDevice
    url: /devices/%s/devices/new.json?device_type=thinclient	
    order: 1
    puppetclass: netboot
    school_required: true
  fatclient:
    label:
      en: Fatclient
    classes: puavoNetbootDevice
    url: /devices/%s/devices/new.json?device_type=fatclient
    order: 2
    puppetclass: netboot
    school_required: true
  laptop:
    label:
      en: Laptop
    classes: puavoLocalbootDevice
    url: /devices/%s/devices/new.json?device_type=laptop
    order: 3
    puppetclass: host
    school_required: true
    ldap_password: true
  workstation:
    label:
      en: Workstation
    classes: puavoLocalbootDevice
    url: /devices/%s/devices/new.json?device_type=workstation
    order: 4
    puppetclass: host
    school_required: true
  ltspserver:
    label:
      en: LTSP server
    classes: puavoLocalbootDevice
    url: /devices/servers/new.json?device_type=ltspserver
    order: 5
    puppetclass: host
    school_required: false
    ldap_password: true
