
.ImportTool {
    overflow: auto;
    overflow-y: hidden;
}

.ImportTool-textarea {
    width: 100%;
    height: 300px;
}

.ImportTool-data-selector {
    margin-bottom: 3em;
}

.pure-button.danger {
    background: rgb(202, 60, 60);
}

.Fa.error {
    color: rgb(202, 60, 60);
}

.pure-button.danger .fa {
    color: white;
}

.ImportTool a {
    color: rgb(0, 120, 231);
}

.ImportTool select {
    color: black !important;
}

.ImportTool table {
    width: 100%;
    overflow: auto;
}

.ImportTool .Cell {
    white-space: nowrap;
}

.ImportTool .Cell-edit-buttons {
    float: right;
}

