
.pure-button.danger {
    background: rgb(202, 60, 60);
    color: white;
}

.Fa.error {
    color: rgb(202, 60, 60);
}

.Fa.success {
    color: rgb(28, 184, 65);
}

.ImportTool a {
    color: #F59645;
}

.pure-form textarea:focus,
.pure-form input:focus {
    border-color: #F59645 !important;
}

.pure-button-primary {
    background-color: #F59645;
}

.ImportTool th {
    vertical-align: middle;
}


.ImportTool thead {
    color: #f5f5e8;
    background: -webkit-linear-gradient(top, #a36a2a 35%, #ba722d 60%) repeat scroll 0 0 transparent !important;
}


.ImportTool-error-well {
    background-color: rgb(202, 60, 60);
    border-radius: 2px;
    border: 1px solid #7E2323;
    color: white;
    padding: 10px;
}


.button-xsmall {
    font-size: 70%;
}

.button-small {
    font-size: 85%;
}

.button-large {
    font-size: 110%;
}

.button-xlarge {
    font-size: 125%;
}
