<h1><%= t('.title') %></h1>

<%= render :partial => 'form',
 :locals => { :path => group_path(@school, @group),
  :method => :put,
  :submit_text => t('link.update')
} %>


<% content_for :right do %>
<div><%= link_to t('link.show'), group_path(@school, @group), :class => 'show' %></div>
<% end %>
