<h1><%= t('.title') %></h1>

<%= render :partial => 'form', 
:locals => {
  :path => groups_path(@school),
  :method => :post,
  :submit_text => t('link.create')
} %>
<div class="cancel"><div><%= link_to t('link.cancel'), @group, :class => 'cancel_button' %> </div></div>
