<h1><%= t('.title') %></h1>

<%= render :partial => 'form', 
:locals => {
  :path => groups_path(@school),
  :method => :post,
  :submit_text => t('link.create')
} %>

<%= link_to t('link.back'), groups_path %>
