<% page_title t('titles.schools'), @school.displayName, t('titles.users'), @user.displayName, t('titles.edit') %>

<h1><span><%= t('.title') %></span></h1>

<%= render :partial => 'form',
 :locals => {
  :path => user_path(@school, @user),
  :submit_text => t('link.update'),
  :method => :put
}
%>
