<h1><%= t('.title') %></h1>

<%= render :partial => 'form',
 :locals => {
  :path => user_path(@school, @user),
  :submit_text => t('link.update'),
  :method => :put
}
%>
<% content_for :right do %>
<div><%= link_to t('link.show'), user_path(@school, @user), :class => 'show' %></div>
<% end %>
