<h1><%= t('.title') %></h1>

<%= render :partial => 'form',
 :locals => {
  :path => user_path(@school, @user),
  :submit_text => t('link.update'),
  :method => :put
}
%>
<div class="cancel"><div><%= link_to t('link.cancel'),  user_path(@school, @user), :class => 'cancel_button' %> </div></div>
