<tr>
  <td class="label_td view"><%= label device.class.to_s.downcase, "puavoAllowGuest" %></td>
  <td class="value_td"><%= translate_boolean_value(device.puavoAllowGuest) %></td>
</tr>
<tr>
  <td class="label_td view"><%= label device.class.to_s.downcase, "puavoPersonalDevice" %></td>
  <td class="value_td"><%= translate_boolean_value(device.puavoPersonalDevice) %></td>
</tr>
