<tr>
  <td class="label_td view"><%= label object.class.to_s.downcase, "puavoAllowGuest" %></td>
  <td class="value_td"><%= translate_boolean_value(object.puavoAllowGuest) %></td>
</tr>
<tr>
  <td class="label_td view"><%= label object.class.to_s.downcase, "puavoPersonalDevice" %></td>
  <td class="value_td"><%= translate_boolean_value(object.puavoPersonalDevice) %></td>
</tr>
