<tr>
  <td class="label_td view"><%= label object.class.to_s.downcase, "puavoAutomaticImageUpdates" %></td>
  <td class="value_td"><%= translate_boolean_value(object.puavoAutomaticImageUpdates) %></td>
</tr>
