<tr>
  <th><%= t("activeldap.attributes.#{object.class.to_s.downcase}.puavoAutomaticImageUpdates") %></th>
  <td class="value_td"><%= translate_boolean_value(object.puavoAutomaticImageUpdates) %></td>
</tr>
