<!-- shared/_form_puavoconf starts -->
<tr>
  <th><%= f.label :puavoConf %></th>
  <td class="pceContainer">
    <%= f.text_area :puavoConf, cols: 40, rows: 10, spellcheck: false %>
  </td>
</tr>
<!-- shared/_form_puavoconf ends -->
