        <%= link_to "#{user.displayName} (#{user.uid})", user_path(user.primary_school, user) %>
        <% if @current_owners.include?(user.dn.to_s) %>
        <span class="adminOrOwner">(<%= t('organisation_owner_role') %>)</span>
        <% end %>
        <% if user.puavoLocked %><i class="icon-lock"></i><% end %><br>
        <% Array(user.school).each do |s| %>
        <%= link_to(s.displayName, school_path(s)) %>
        <% if s == user.primary_school %><%= t('users.show.primary_school') %><% end %>
        <% end %>
