<!-- shared/_puavoconf starts -->
<table class="puavoConf">
  <% puavoconf_data = JSON.parse(object) rescue nil
     if !puavoconf_data.nil? && puavoconf_data.kind_of?(Hash) %>
  <% puavoconf_data.sort.each do |key, value| %>
  <tr>
    <th><%= h key %></th>
    <td><%= h value %></td>
  </tr>
  <% end %>
  <% end %>
</table>
<!-- shared/_puavoconf ends -->
