<!-- shared/_puavoconf starts -->
<table class="puavoConf">
  <% puavoconf.sort.each do |key, values| %>
  <% if values.include?(type) %>
  <tr>
    <th><%= h key %></th>
    <td><code><%= h values[type] %></code></td>
  </tr>
  <% end %>
  <% end %>
</table>
<!-- shared/_puavoconf ends -->
