/* SSO developers documentation */

@media (prefers-color-scheme: light) {
  :root {
    --page-background: rgb(245, 246, 247);
    --page-foreground: #000;
    --generic-border: #000;
    --code-border: rgb(205, 206, 207);
    --code-background: rgb(225, 226, 227);
    --link-foreground: #00f;
    --link-background: none;
    --link-foreground-hover: #fff;
    --link-background-hover: #00f;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --page-background: rgb(56, 60, 74);
    --page-foreground: #fff;
    --generic-border: rgb(43, 46, 57);
    --code-border: rgb(23, 26, 27);
    --code-background: rgb(43, 46, 57);
    --link-foreground: #0ff;
    --link-background: none;
    --link-foreground-hover: #000;
    --link-background-hover: #0ff;
  }
}

body {
    font-family: "Noto Sans", "Roboto", "DejaVu Sans", "Ubuntu", "Arial", sans-serif;
    padding: 2em;
    background: var(--page-background);
    color: var(--page-foreground);
}

.doc {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0;
}

img {
    margin: 0 auto;
    display: block;
    width: 50%;
    min-width: 250px;
}

p, li {
    line-height: 2em;
}

h1 {
    text-align: center;
}

h2 {
    border-bottom: 1px dashed var(--generic-border);
}

h1, h2 {
    margin-top: 1em;
    margin-bottom: 0.25em;
}

p {
    margin-top: 1em;
    margin-bottom: 1em;
}

ul {
    padding-left: 4em;
}

h1 {
    font-size: 25pt;
    margin-top: 1em;
    margin-bottom: 1em;
}

h2 {
    font-size: 20pt;
}

code, pre {
    background: var(--code-background);
    border: 1px solid var(--code-border);
    border-radius: 3px;
    font-family: "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace;
    overflow-x: auto;
}

code {
    margin: 0 2px;
    padding: 2px;
    white-space: nowrap;
}

pre {
    margin: 0;
    padding: 0.5em;
}

a {
    color: var(--link-foreground);
    background: var(--link-background);
}

a:hover {
    color: var(--link-foreground-hover);
    background: var(--link-background-hover);
}

footer {
    border-top: 1px solid var(--generic-border);
    text-align: center;
    padding: 10px;
}
