html {
  font-family: "Ubuntu", "Cantarell", sans-serif;
  background: #f0eee1;
  padding: 10px;
}

body {
  background: linear-gradient(to bottom, #f0eee1 0%,#e6e4d7 100%);
  background-clip: padding-box;

  box-shadow:
    2px -2px 2px rgba(0, 0, 0, 0.5),
    -2px 2px 2px rgba(0,0,0,0.5),
    inset 0 5px 100px rgba(65, 120, 107, 0.2);

  border: 5px solid #ed7113;
  max-width: 75%;
  margin: 10px auto;
  padding: 10px 50px;
}

header h1 {
  margin: 0;
  padding: 0;
}

header h2 {
  font-size: 100%;
  margin: 0;
  padding: 0;
}

header {
  margin-top: 10px;
  text-align: center;
  padding: 10px 0;
  border-top: 1px dashed #ccc;
  border-bottom: 1px dashed #ccc;
}

.groupHeader {
  font-size: 150%;
  font-weight: bold;
  padding: 5px 10px;
  margin-top: 20px;
  background: #fe9749;
  border-radius: 10px;
}

.groupHeader h1 {
  font-size: inherit;
  display: inline;
  pointer-events: none;
}

.groupHeader .count {
  font-size: 75%;
}

.groupHeader span {
  pointer-events: none;
}

.tableWrapper {
  display: block;
  padding: 10px 0 0 50px;
}

.users {
  border-collapse: collapse;
  width: 100%;
}

.users th, td {
  padding: 15px;
}

.users th {
  background: #41786b;
  text-align: left;
  color: #fff;
}

.users tr:nth-child(even) {
  background: #6dc6af;
}

.users tr:nth-child(odd) {
  background: #5cb59f;
}

.button {
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  border-right: 2px solid #888;
  border-bottom: 2px solid #888;
  padding: 5px 10px;
  background: #ccc;
  text-decoration: none;
  color: #000;
}

.button:active {
  border-top: 2px solid #888;
  border-left: 2px solid #888;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
}

.button img {
  padding-right: 5px;
  width: 16px;
  height: 16px;
}

footer {
  margin-top: 20px;
  border-top: 1px dashed #ccc;
  text-align: center;
  font-size: 75%;
  color: #777;
}

footer table {
  margin: 0 auto;
}

footer table td {
  margin: 0;
  padding: 10px;
  text-align: left;
}
