Source: puavo-users
Section: admin
Priority: extra
Maintainer: Esa-Matti Suuronen <esa-matti.suuronen@opinsys.fi>
Build-Depends: debhelper (>= 8),
 devscripts,
 git-core,
 imagemagick,
 jq,
 ldap-utils,
 libmagickwand-dev,
 libmagickwand-6.q16-3,
 libpq-dev,
 libreadline-dev,
 libsqlite3-dev,
 libssl-dev,
 libxml2-dev,
 libxslt-dev,
 libxslt1-dev,
 nodejs (>= 4.8.7-1nodesource1),
 ruby,
 ruby-bundler,
 ruby-dev,
 ruby-ldap,
 xpdf-utils,
 zlib1g-dev
Standards-Version: 3.9.3
Homepage: https://github.com/opinsys/puavo-users/

Package: puavo-rest
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
 fluentd,
 krb5-user,
 libsasl2-modules-gssapi-mit,
 make,
 ruby,
 ruby-bundler,
 ruby-ldap
Description: puavo-rest
 JSON-REST Adapter for LDAP
 .

Package: puavo-rest-bootserver
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
 make,
 nginx,
 puavo-rest,
 redis-server
Description: puavo-rest for bootservers
 Metapackage for bootservers. Installs nginx, puavo-rest and required
 configuration files.
 .

Package: puavo-web-core
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
 dnsutils,
 imagemagick,
 ldap-utils,
 libpq5,
 libsqlite3-0,
 libssl1.1,
 libxslt1.1,
 nodejs,
 poppler-utils,
 ruby,
 ruby-bundler,
 ruby-ldap
Description: Puavo Rails application core
 The actual code for the application
 .

Package: puavo-web
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
 puavo-web-core
Description: puavo-web
 Upstart script for the web application server
 .

Package: puavo-web-worker
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
 puavo-web-core
Description: puavo-web-worker
 Resque worker upstart script for puavo-web
 .
