Source: puavo-users
Section: admin
Priority: extra
Maintainer: Puavo Org <dev@opinsys.fi>
Build-Depends: debhelper (>= 8),
 devscripts,
 git-core,
 imagemagick,
 jq,
 ldap-utils,
 libmagickwand-dev,
 libmagickwand-6.q16-6,
 libpq-dev,
 libreadline-dev,
 libsqlite3-dev,
 libssl-dev,
 libxml2-dev,
 libxslt-dev,
 libxslt1-dev,
 npm,
 puavo-client,
 ruby,
 ruby-bundler,
 ruby-dev,
 ruby-ldap,
 xpdf-utils,
 zlib1g-dev
Standards-Version: 3.9.3
Homepage: https://github.com/puavo-org/puavo-web/

Package: puavo-rest
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
 krb5-user,
 libsasl2-modules-gssapi-mit,
 make,
 puavo-client,
 ruby,
 ruby-bundler,
 ruby-ldap
Description: puavo-rest
 JSON-REST Adapter for LDAP
 .

Package: puavo-web-core
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
 dnsutils,
 imagemagick,
 ldap-utils,
 libpq5,
 libsqlite3-0,
 libssl3,
 libxslt1.1,
 nodejs,
 poppler-utils,
 puavo-client,
 ruby,
 ruby-bundler,
 ruby-ldap
Description: Puavo Rails application core
 The actual code for the application
 .

Package: puavo-web
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
 puavo-web-core
Description: puavo-web
 Upstart script for the web application server
 .
