# puavo-rest service file.
# Converted from the old puavo-rest.upstart script.

[Unit]
Description=puavo-rest in production mode
After=network-online.target

[Service]
Type=simple
PermissionsStartOnly=true
User=puavo
Group=puavo
WorkingDirectory=/var/app/puavo-rest
LimitNOFILE=65536
Environment="RACK_ENV=production"
ExecStartPre=/bin/mkdir -p /run/puavo-rest
ExecStartPre=/bin/chown puavo:puavo /run/puavo-rest
ExecStart=/bin/sh -c "bundle exec puma --workers 4 --port 9292"
Restart=on-abnormal
RestartSec=30s
# /usr, /boot and /etc will be read-only
ProtectSystem=full
# /home, /root and /run/user will be inaccessible
ProtectHome=true
SyslogIdentifier=puavo-rest

[Install]
WantedBy=multi-user.target
