# Don't remove this. This is used to the Cucumber test.
example:
  name: Example Organisation
  host: www.example.com
  ldap_host: localhost
  ldap_base: dc=edu,dc=cucumber,dc=org

# Default organisation configurations.
# This is used to if browser request host not matched with other settings.
default:
  name: Default organisation
  host: *
  ldap_host: localhost
  ldap_base: dc=edu,dc=example,dc=org
  # Optional configurations
  # locale: fi
  # theme: breathe
  # allow_uppercase_characters_uid: true
  # # Puavo will POST user object to that URL when someone create, update or destroy user
  # webhooks:
  #   user:
  #     url: http://puavo-moodle-integration.example.com/webhook
  #     actions:
  #     - create
  #     - update
  #     - destroy

