
.icon-plus:before { content: '\e80a'; } /* '' */
.icon-minus:before { content: '\e80b'; } /* '' */
.icon-home:before { content: '\e808'; } /* '' */
.icon-cog:before { content: '\e822'; } /* '' */
.icon-attention:before { content: '\e813'; } /* '' */
.icon-cog-alt:before { content: '\e821'; } /* '' */
.icon-pencil:before { content: '\e812'; } /* '' */
.icon-ok:before { content: '\e81e'; } /* '' */
.icon-cancel:before { content: '\e806'; } /* '' */
.icon-eye:before { content: '\e80e'; } /* '' */
.icon-tag:before { content: '\e80f'; } /* '' */
.icon-tags:before { content: '\e810'; } /* '' */
.icon-location:before { content: '\e818'; } /* '' */
.icon-trash:before { content: '\e814'; } /* '' */
.icon-login:before { content: '\e820'; } /* '' */
.icon-logout:before { content: '\e81f'; } /* '' */
.icon-inbox:before { content: '\e81b'; } /* '' */
.icon-link-ext:before { content: '\e807'; } /* '' */
.icon-hdd:before { content: '\e81c'; } /* '' */
.icon-docs:before { content: '\e816'; } /* '' */
.icon-exchange:before { content: '\e819'; } /* '' */
.icon-info:before { content: '\e809'; } /* '' */
.icon-lock-open-alt:before { content: '\e80d'; } /* '' */
.icon-collapse:before { content: '\e81a'; } /* '' */
.icon-picture:before { content: '\e804'; } /* '' */
.icon-videocam:before { content: '\e803'; } /* '' */
.icon-user:before { content: '\e801'; } /* '' */
.icon-users:before { content: '\e802'; } /* '' */
.icon-doc:before { content: '\e815'; } /* '' */
.icon-phone:before { content: '\e817'; } /* '' */
.icon-download:before { content: '\e811'; } /* '' */
.icon-camera:before { content: '\e805'; } /* '' */
.icon-search:before { content: '\e800'; } /* '' */
.icon-key:before { content: '\e81d'; } /* '' */
.icon-lock:before { content: '\e80c'; } /* '' */