
.icon-search:before { content: '\e800'; } /* '' */
.icon-user:before { content: '\e801'; } /* '' */
.icon-users:before { content: '\e802'; } /* '' */
.icon-block:before { content: '\e803'; } /* '' */
.icon-picture:before { content: '\e804'; } /* '' */
.icon-clock:before { content: '\e805'; } /* '' */
.icon-cancel:before { content: '\e806'; } /* '' */
.icon-link-ext:before { content: '\e807'; } /* '' */
.icon-info:before { content: '\e809'; } /* '' */
.icon-plus:before { content: '\e80a'; } /* '' */
.icon-minus:before { content: '\e80b'; } /* '' */
.icon-lock:before { content: '\e80c'; } /* '' */
.icon-eye:before { content: '\e80e'; } /* '' */
.icon-tag:before { content: '\e80f'; } /* '' */
.icon-tags:before { content: '\e810'; } /* '' */
.icon-download:before { content: '\e811'; } /* '' */
.icon-pencil:before { content: '\e812'; } /* '' */
.icon-attention:before { content: '\e813'; } /* '' */
.icon-trash:before { content: '\e814'; } /* '' */
.icon-doc:before { content: '\e815'; } /* '' */
.icon-docs:before { content: '\e816'; } /* '' */
.icon-phone:before { content: '\e817'; } /* '' */
.icon-location:before { content: '\e818'; } /* '' */
.icon-exchange:before { content: '\e819'; } /* '' */
.icon-collapse:before { content: '\e81a'; } /* '' */
.icon-key:before { content: '\e81d'; } /* '' */
.icon-ok:before { content: '\e81e'; } /* '' */
.icon-logout:before { content: '\e81f'; } /* '' */
.icon-login:before { content: '\e820'; } /* '' */
.icon-cog-alt:before { content: '\e821'; } /* '' */
.icon-cog:before { content: '\e822'; } /* '' */
.icon-check:before { content: '\e823'; } /* '' */
.icon-lock-open:before { content: '\e824'; } /* '' */
.icon-upload:before { content: '\e825'; } /* '' */
.icon-flag:before { content: '\e826'; } /* '' */
.icon-down-big:before { content: '\e827'; } /* '' */
.icon-left-big:before { content: '\e828'; } /* '' */
.icon-right-big:before { content: '\e829'; } /* '' */
.icon-up-big:before { content: '\e82a'; } /* '' */
.icon-down-open:before { content: '\e82b'; } /* '' */
.icon-left-open:before { content: '\e82c'; } /* '' */
.icon-right-open:before { content: '\e82d'; } /* '' */
.icon-up-open:before { content: '\e82e'; } /* '' */
.icon-list:before { content: '\e82f'; } /* '' */
.icon-plus-squared:before { content: '\f0fe'; } /* '' */
.icon-flag-empty:before { content: '\f11d'; } /* '' */
.icon-minus-squared:before { content: '\f146'; } /* '' */
.icon-file-pdf:before { content: '\f1c1'; } /* '' */
.icon-sliders:before { content: '\f1de'; } /* '' */
.icon-user-plus:before { content: '\f234'; } /* '' */
.icon-user-times:before { content: '\f235'; } /* '' */