<!DOCTYPE html>
<html lang="en">
<head><meta charset="UTF-8">
<style>
body {
    background: #f0eee1;
    font-family: "Noto Sans", "Roboto", "DejaVu Sans", "Ubuntu", "Arial", sans-serif;
    margin: 10px;
    padding: 0;
}

h1 { margin-top: 0; }
</style>
<title>Not Found</title></head>
<body>
<h1>404 - Not Found</h1>
<p>The requested URL could not be found.</p>
</body></html>
