
form table:not(.validate_users_list) th, form table:not(.validate_users_list) td, form table:not(.validate_users_list) caption { 
    padding: 0 10px 0 0;
    position:relative;
}


@media all and (max-width: 800px) {
    form table:not(.validate_users_list) th, form table:not(.validate_users_list) td, form table:not(.validate_users_list) caption { 
        display: block;
    }
    form tr td input[type="text"] {
        width: 95%;
    }
    form table {
        width: 95%;
    }
}


form tr {
    margin: 0 0 10px;
    white-space: nowrap;
    overflow: scroll;
    text-overflow: clip;
    width: 95%;
}

form tr td {
    margin: 0;
    padding: 0;
}


