<% form_tag oauth_authorize_path do %>
<table>
  <tr>
    <td>Accept login to</td>
    <td><%= session[:oauth_params][:client_id] %></td>
  </tr>
  <tr>
    <td></td>
    <td><%= submit_tag "ok" %></td>
    <td><%= submit_tag "cancel" %></td>
  </tr>
</table>

<% end %>
