@import 'nib'

tools-image-sprite()
  background-image url("<%= image_path('iconset-breathe.png') %>")
  background-repeat no-repeat

search-input-image()
  background url("<%= image_path('magnifier.png')%>") no-repeat scroll 97% center #FFFFFF
  background-repeat no-repeat

search-input-spinner()
  background url("<%= image_path('ajax-loader.gif')%>") no-repeat scroll 95% 4px #FFFFFF
  background-repeat no-repeat

clone-prev-input-element-image()
  background-image url("<%= image_path('show-more.png')%>")
  background-repeat no-repeat
  background-position 95%
  padding-right 2em

show-more-image()
  background-image url("<%= image_path('show-more.png')%>")
  background-repeat no-repeat