@import 'nib'

background-image-sprite()
  background-image url("<%= image_path('iconset-breathe.png') %>")
  background-repeat no-repeat

search-input-image()
  background url("<%= image_path('magnifier.png')%>") no-repeat scroll 95% center #FFFFFF
  background-repeat no-repeat

search-input-spinner()
  background url("<%= image_path('ajax-loader.gif')%>") no-repeat scroll 95% 4px #FFFFFF
  background-repeat no-repeat