@import 'nib'

.tools
  .add-new-device
    &:hover
      background-color transparent


.printer-permissions .devices table
  td,th
    text-align left
    padding 1em

  td,a
    font-size 10pt
    font-weight default

.hwInfoTitle {
  text-decoration: underline;
  margin-bottom: 1em !important;
}

.hwInfoTimestamp {
  font-size: 150%;
  margin: 1em 0 1em 0;
}

.hwInfoTable {
  border: 2px solid #aaa;
  border-collapse: collapse;
  width: 100%;
}

.hwInfoTable th {
  border: 1px solid #aaa;
  padding: 7px;
  text-align: right;
  width: 150px;
}

.hwInfoTable .main {
  text-align: center;
  vertical-align: middle;
  background: #eee;
}

.hwInfoTable td {
  border: 1px solid #aaa;
  padding: 7px;
}

.hwInfoTable .sectionEnd {
  border-bottom: 2px solid #aaa;
}
