
.external-services
  clear both
  margin-bottom 5em

  a
    text-decoration underline
    font-weight bold

  h2, p
    margin-top 1em
    margin-bottom 1em

  .list
    float none
    clear both

  td
    padding 1em

.external-services.disabled
    opacity 0.5

.submit-container
  clear both


