/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.external-files
  td
    vertical-align middle

  td, th
    padding-left 5px
