@import 'nib'

*
  box-sizing padding-box

html, body
  height 100%
  width 100%

body
  font-family "Helvetica Neue", Helvetica,Calibri,Arial,sans-serif
  font-size 80%
  line-height 1.5
  margin 0
  padding 0

h1, h2, h3, h4, h5, h6
  font-weight normal
  color #2D2D2D
h1
  font-size 3em
  margin-bottom 0.5em
h2
  font-size 2em
  margin-bottom 0.75em
h3
  font-size 1.3em
  margin-bottom 1em
h4
  font-size 115%
  line-height 1.25
h5
  font-size 110%
h6
  font-size 105%
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img
  margin 0
p
  margin 0 0 .5em
  img
    &.left
      float left
      margin 1.5em 1.5em 1.5em 0
      padding 0
    &.right
      float right
      margin 1.5em 0 1.5em 1.5em

a:focus, a:hover
  color #000

a
  color #13243F
  text-decoration none
  img
    border none

blockquote
  margin 1.5em
  color #666
  font-style italic

strong
  font-weight bold

em, dfn
  font-style italic

dfn
  font-weight bold

sup, sub
  line-height 0

abbr, acronym
  border-bottom 1px dotted #666

address
  margin 0 0 1.5em
  font-style italic

del
  color #666

pre
  margin 1.5em 0
  white-space pre

pre, code, tt
  font 100% 'andale mono', 'lucida console', monospace
  line-height 1.5

li ul, li ol
  margin 0

ul, ol
  list-style none
  margin 0 1.5em 1.5em 0
  padding-left 3.333em

ol
  list-style-type decimal

dl
  margin 0 0 1.5em 0
  dt
    font-weight bold

dd
  margin-left 1.5em

img
  border none
  max-width 100%

div.space,hr
  border medium none
  clear both
  float none
  height 0
  margin 0 0 0
  width 100%

hr
  &.space
    background #fff
    color #fff
    visibility hidden

caption
  background #eee

.small
  font-size .8em
  margin-bottom 1.875em
  line-height 1.875em

.large
  font-size 1.2em
  line-height 2.5em
  margin-bottom 1.25em

.hide
  display none

.quiet
  color #666

.loud
  color #000

.highlight
  background #ff0

.added
  background #060
  color #fff

.removed
  background #900
  color #fff

.first
  margin-left 0
  padding-left 0

.last
  margin-right 0
  padding-right 0

.top
  margin-top 0
  padding-top 0

.bottom
  margin-bottom 0
  padding-bottom 0

.clearfix:after, .container:after
  content "\0020"
  display block
  height 0
  clear both
  visibility hidden
  overflow hidden

.clearfix, .container
  display block

.clear
  clear both

.display_block
  display block !important

// Custom global classes
.container
  height 100%
  margin 0
  min-width 315px

.main-wrap
  margin 25px auto
  max-width 1200px
  padding 5px 10px 0
  width 90%

.main-wrap
  & > h1
    font-size 250%
    font-variant small-caps
    margin 0
    padding 1% 0 0 0

.wrap
  background none repeat scroll 0 0 #FFFFFF
  border-bottom 1px solid #222222
  border-left 1px solid #222222
  border-right 1px solid #222222
  border-radius 0 0 0 10px
  border-radius 0 0 0 10px
  margin 0 0 1em
  width 100%

.maincontent
  margin 0 0 0 2%
  padding 1% 0 10px
  position relative
  width 95%
  h1
    font-size 220%
    line-height 1.2em
    margin 0 0 2%
    padding 0
    span
      border-bottom 2px solid #435266

.tools
  a
    &:hover
      color #222
  & > div
    border-bottom 1px dashed #ECEADA
    float left
    margin 0
    padding 0 0 0 5px
    position relative
  .tool
    span
      background-position center -630px
      font-size 0
      padding 20px 5px
      text-indent -9999px
      width 24px
      &:hover
        background-position center -670px transparent
        cursor pointer
    ul
      display none
      border 1px solid #AAAAAA
      padding 0
      position absolute
      margin 0 0 0 -5px
      right 0
      li
        background none repeat scroll 0 0 #FFFFFF
        min-width 150px
        width auto !important
        &:hover
          background none repeat scroll 0 0 #C0772F

.tools a, .tool span
  font-size 120%
  display block
  height auto
  line-height 1.25
  margin 0
  padding 15px 10px 15px 35px
  white-space nowrap
  width auto

.tools > li:hover,
.tools > div:hover
  background none repeat scroll 0 0 #C0772F
  border-radius 6px 6px 0 0