@import 'nib'

*
  box-sizing padding-box

html, body
  height 100%
  width 100%

body
  font-family "Helvetica Neue", Helvetica,Calibri,Arial,sans-serif
  font-size 80%
  line-height 1.5
  margin 0
  padding 0