@import 'nib'

.description
  margin-bottom 20px

.list
  border-top 1px solid black
  padding-bottom 20px

  .clear
    clear left
    display block

  .meta_information
    float left

  .form
    margin-top 20px
    float left

    input[type="text"]
      width 15em

    input[type="submit"]
      paddin 0
      margin 0
      width auto
      height auto
      float right