@import 'nib'

.login-wrap
  font-size 80%
  margin 50px auto
  max-width 1200px
  width 80%

.password_container
  margin 0
  padding 2%
  position relative
  width 100%
  .login_content
    padding 2%
    .password_buttons
      position absolute
      top -35px
    p
      margin 0 0.5em 1em
      padding 1em
      text-align center
    span
      border none
      border-radius 8px 8px 0 0
      float left
      display block
      height 35px
      margin 0 10px 0 0
      width auto
      &.active
        padding-bottom 15px
      a
        background url("../../images/iconset-breathe.png") no-repeat scroll 5px -795px transparent
        display block
        line-height 2.5em
        padding 5px 0 5px 40px
        text-align center
        text-transform uppercase
      &:hover
        a
          background url("../../images/iconset-breathe.png") no-repeat scroll 5px -835px transparent
      &.change_other_pswd
        a
          background url("../../images/iconset-breathe.png") no-repeat scroll 5px -875px transparent
          display block
          padding 5px 0 5px 40px
          text-align left
        &:hover
          a
            background url("../../images/iconset-breathe.png") no-repeat scroll 5px -915px transparent
    table
      margin 0
      tr
        td[colspan="2"]
          text-align left

@media screen-breakpoint-one
  .login-wrap
    font-size 100%
    width 100%