@import 'nib'

.login-wrap
  font-size 80%
  margin 60px auto
  max-width 1200px
  width 80%

.password_container
  margin 0
  padding 2%
  position relative
  width 100%
  .login_content
    padding 2%
    .password_buttons
      position absolute
      top -51px
    p
      margin 0 0.5em 1em
      padding 1em
      text-align center
    span
      float left
      display block
      margin 0 10px 0 0
      padding 0
      width auto
      a
        display block
        padding 15px 5px
        text-align center
        text-transform uppercase
    table
      margin 0
      tr
        td[colspan="2"]
          text-align left
      input[type="submit"]
        width 100%

@media screen-breakpoint-one
  .login-wrap
    font-size 100%
    margin 0
    width 100%
  .password_container
    .login_content
      .password_buttons
        margin-bottom 2%
        position relative
        top 0
        span
          float none
          display block
          margin 2% 0 0
          text-align center
        a
          text-align center

        i
          padding-right .25em