@import 'nib'

.content-box
  &.school_admins a, &.other_admins a
    float right
    font-weight normal
    margin 0
  &.users
    clear both
  .admins_headers
    span
      font-size 100%
      font-weight bold
  .row
    .admin_display_name
      display inline-block
      float none
      max-width 70%
      width auto

.admin-users-list, .billing-info
  width 100%

.pdf_file
  a
    color #FF6666
    font-size 110%