@import 'nib'

#this_school_admin_users .row,
#other_admin_users .row
  margin 2px 0 2px 0
  padding 8px 10px 7px

@media screen-breakpoint-one
  #this_school_admin_users .row, #other_admin_users .row
    padding 1% 2%