@import 'nib'

#jquery-live-search
  background #FFFFFF
  border 1px solid #CCCAAA
  border-width 0 1px 1px 1px
  margin 0 1em 0 0
  max-height 350px
  max-width 800px
  min-width 450px
  overflow auto
  padding 5px 10px
  position absolute
  width auto
  z-index 9999
  box-shadow 5px 5px 5px rgba(0, 0, 0, 0.3)

#search
  margin 4px
  font-size 8pt

.search_result
  table
    border-spacing 0
    margin 0px
    padding 0px
  th
    white-space nowrap
    padding-top 0px
    padding-bottom 0px
    margin 0px
  legend
    padding-left 2px
    padding-right 2px

fieldset
  &.search_result
    font-size 80%
    padding 5px

