@import 'nib'

th
  font-weight bold

thead
  th
    background #c3d9ff

.import_define th, .import_define td
  float left
  width 35% !important

.wrap
  .maincontent
    form
      table
        tr
          td
            &.refine_example
              color black

th,td,caption
  padding 5px 1%

tr
  &.even
    td
      background #e5ecf9

table.list td a[href$="edit"],
table.list td a[data-method="delete"],
table.list td a[href$="automounts"]
  float left
  margin 0
  text-align center

tbody
  a
    font-weight bold
    text-decoration underline
  th
    font-size 110%
    font-weight bold
    text-decoration none

tfoot
  font-style italic