@import 'nib'
@import 'colors'

body
  background none repeat scroll 0 0 baseBg
  background-image linear-gradient(baseGradientBg 0%, baseBg 100%)

.main-wrap
  background none repeat scroll 0 0 baseBg
  border 5px solid #3E3E2D
  border-radius 10px 10px 0 0
  box-shadow 0px 15px 15px rgba(68, 68, 68, 0.70)

.maincontent
  background-color white
  border-bottom 1px solid baseBoxShadowBorderColor
  border-left 1px solid baseBoxShadowBorderColor
  border-right 1px solid baseBoxShadowBorderColor
  border-radius 0 0 4px 4px
  > h1 span
    border-bottom 1px solid baseBoxShadowBorderColor

// topmenu
.topmenu
  background-color baseOrangeGradient
  background-image linear-gradient(baseOrange 0% ,baseOrangeGradient 100%)
  border-bottom 1px solid baseBoxShadowBorderColor
  box-shadow 2px 4px 6px rgba(68, 68, 68, 0.80)
  .top-menu-item
    border-top 1px solid #E6E6E6
    a
      &:hover
        background-color #f4f4f4
        border-radius 0 8px 8px 0
    &:first-child
      border-top medium none
  input
    border 1px solid formElementBorderColor
    border-radius 4px
.topmenu-left
  & > li
    & > ul
      background-color baseOrangeGradient

.add-new-school a,
.add-new-school a:hover
  background-color white
  background-position left -510px
  border-radius 8px 8px 0 0

// end of topmenu

.content-box
  background none repeat scroll 0 0 rgb(250, 250, 250)
  background-image linear-gradient(rgb(250, 250, 250) 0%, rgb(247,247,247) 100%)
  border-radius 4px
  box-shadow inset 0 0 10px rgba(237, 113, 19, 0.25)
  &.school_image
    background none repeat scroll 0 0 transparent
    background-image none
    border 0 none
    border-radius 0
    box-shadow none
  h4
    border-bottom 2px solid
  .row
    &:not(:first-of-type)
      border-top 1px solid #AAAAAA
    &:empty
      border none

  h3, .show_user h3
    background-color baseBrown
    background-image linear-gradient(baseBrownGradient 0%, baseBrown 100%)
    border-radius 3px 3px 0 0
    color rgb(245,245,245)

// main-navigation
.navbar-first-level
  .current_page_item
    background-color baseBrown
    background-image linear-gradient(baseBrown 0%, baseBrownGradient 100%)
    border-left 1px solid baseBoxShadowBorderColor
    border-right 1px solid baseBoxShadowBorderColor
    border-top 1px solid baseBoxShadowBorderColor
  li
    background-color baseOrange
    background-image linear-gradient(baseOrange 0% ,baseOrangeGradient 100%)
    border-radius 4px 4px 0 0

.navbar-second-level
  background-color baseBrown
  background-image linear-gradient(baseBrownGradient 35%, baseBrown 60%)
  border 1px solid baseBoxShadowBorderColor
  border-radius 0 4px 0 0
  .current a, a:hover
    background-color white
    border-left 1px solid baseBoxShadowBorderColor
    border-radius 4px 4px 0 0
    border-right 1px solid baseBoxShadowBorderColor
    border-top 1px solid baseBoxShadowBorderColor
    color #4A4D4A

// end of main-navigation
.login-wrap
  .password_container
    background-color baseBrown
  .login_content
    background-color white
    p
      background-color infoBgColor
      border 2px dotted baseBoxShadowBorderColor

    .password_buttons span
      background none repeat scroll 0 0 #FAB32E
      background-image linear-gradient(baseOrange 0% ,baseOrangeGradient 100%)
      &.active, &:hover
        background none repeat scroll 0 0 baseBrown
        background-image linear-gradient(baseBrownGradient 0%, baseBrown 100%)
        border-left 1px solid baseBoxShadowBorderColor
        border-right 1px solid baseBoxShadowBorderColor
        border-top 1px solid baseBoxShadowBorderColor
        a
          color white

// tools
.tools
  a
    &:hover
      color #222
    &.show
      background-position left -310px
      &:hover
        background-position left -350px
  .sub-tools > li
    border-bottom 1px dashed #ECEADA
  .tool
    span
      background-position center -630px
      &:hover
        background-position center -670px transparent
        cursor pointer
    ul
      border 1px solid #AAAAAA
      li
        background none repeat scroll 0 0 #FFFFFF
        &:hover
          background none repeat scroll 0 0 #C0772F

  a[href$="edit"]
    background-position left 10px
  a[href$="edit"]:hover
    background-position left -30px
  a[data-method="delete"]
    background-position left -70px
  a[data-method="delete"]:hover
    background-position left -110px
  .videolink
    background-position left -235px
    &:hover
      background-position left -275px
  a[href$="import/new"]
    background-position left -470px
  a[href$="import/new"]:hover
    background-position left -510px

.tools .sub-tools > li:hover,
.tools > div:hover
  background none repeat scroll 0 0 #C0772F
  border-radius 6px 6px 0 0
.tool
  span
    img
      margin 0 0 0 5px

.tools a[href$="select_school"],
.maincontent .tools a[href$="rename_groups/new"]
  background-position left -150px

.tools a[href$="select_school"]:hover,
.maincontent .tools a[href$="rename_groups/new"]:hover
  background-position left -190px

.tools a[href$="users/new"],
.tools a[href$="external_services/new"],
.tools a[href$="schools/new"],
.tools a[href$="roles/new"],
.tools a[href$="groups/new"]
  background-position left -390px

.tools a[href$="users/new"]:hover,
.tools a[href$="external_services/new"]:hover,
.tools a[href$="schools/new"]:hover,
.tools a[href$="roles/new"]:hover,
.tools a[href$="groups/new"]:hover
  background-position left -430px

// End of .tools

// Forms
form
  input
    background-color white
    border 1px solid formElementBorderColor
    border-radius 4px
    box-shadow inset 0 1px 1px rgba(0, 0, 0, 0.075)
  select
    background-color white
    border 1px solid formElementBorderColor
  .field_with_errors
    input, select
      border 1px solid errorRed

label
  &.label_error
    color errorRed

.required_info
  color errorRed

.required:after
  color errorRed

// End of forms

// Tables
table
  tr
    &.even
      td
        background #e5ecf9
  &.list
    tr
      &:hover
        background #F9F7E6
    td
      border-bottom 1px solid #AAAAAA
    th
      background none repeat scroll 0 0 baseBrown
      background linear-gradient(baseBrown 35%, #BA722D 60%) repeat scroll 0 0 transparent
      border-bottom 1px solid baseBoxShadowBorderColor
      color #F5F5E8

.field_error
  color #CCCCCC

.field_value_error
  color errorRed

.notice_text
  color errorRed

.list tr:nth-child(even), .content-box table tr:nth-child(even)
  background-color rowEvenBgColor

.list tr:nth-child(odd), .content-box table tr:nth-child(odd)
  background-color rowOddBgColor
// End of tables

// login

.login_container
  background none repeat scroll 0 0 baseBg
  box-shadow 0 4px 8px baseBoxShadowBorderColor

// end of login

// password



// end of password

.link_header
  border-bottom 1px dashed #555555
  font-weight bold

.search_result
  td
    border-bottom 1px solid #AAAAAA

@media screen-breakpoint-one
  .main-wrap, .login_container, .navbar-second-level
    border solid 1px transparent
  .maincontent
    border none
    border-radius 0
  .content-box, .user_box, .content-box h3, .show_user h3
    border-radius 0

  table
    &.list
      tr
        border-bottom 1px solid baseBoxShadowBorderColor
        &:nth-child(2)
          border-top 1px solid baseBoxShadowBorderColor
      th
        display none
      td
        border-bottom none