@import 'nib'

.topmenu
  height auto
  margin 0
  min-width 315px
  position fixed
  top 0
  width 100%
  z-index 10
  input
    float left
    margin 5px 0 0 5px
    padding 5px 30px 5px 10px

.topmenu-content
  font-size 80%
  margin 0 auto
  max-width 1200px
  width 95%

.topmenu-left
  float left
  font-size 85%
  font-weight bold
  line-height 3
  list-style none outside none
  margin 0
  padding 0 5px
  text-transform uppercase
  & > li
    float left
    margin-right 20px
    position relative
    width auto
    &:last-child
      margin-right 0
    & > ul
      display none
      left 0
      line-height 1.5
      margin 0
      max-height 400px
      min-width 200px
      overflow-y auto
      padding 0 10px 0 0
      position absolute
      top 100%
      white-space nowrap
      width auto
  li
    ul
      li
        .school_submenu
          display none
        &:hover
          .school_submenu
            display block
            left 100%
            margin -29px 0 0 -1px
            padding 0
            position absolute
  .last_one
    height 0
    margin 0
    padding 0
    position relative
  .middle
    height 20px
    left 18px
    position absolute
    top 0
    width 105px
  .school_submenu
    li
      margin 8px

.touch
  .topmenu
    position absolute
    & > li
      & > ul
        max-height none
        overflow-y visible


li
  &.top-menu-item
    display block
    list-type none
    margin 5px 0
    padding 10px 15px 0
    white-space nowrap
    a
      margin -8px -20px -5px -20px
      padding 15px 20px 15px 20px
      display block
    &:last-child
      padding-bottom 15px
  &.left
    a
      borderleft-radius 12px

.add-new-school a,
.add-new-school a:hover
  float right
  margin-right 5px
  padding 10px 0 10px 30px
  text-transform none

.school-menu, .organisation-menu
  z-index 10
.school-menu-button > span,
.organisation-menu-button > span
  padding 6px
  border-radius 6px

.school-menu-button,
.organisation-menu-button
  background-image url(../../images/show-more.png)
  background-repeat no-repeat
  background-position right
  padding-right 10px

.topmenu-right
  float right
  margin 3px 5px 0 0
  padding 0
  li
    a[data-method="delete"]
      border none
      color creamWhite
      line-height 1.8
      margin 0 0 0 10px
      padding 2px 10px
    a[data-method="delete"]:hover
      background none repeat scroll 0 0 #DA0000

ul
  &.menu
    li
      float left
      line-height 2
      margin 0
      padding 0 2px
      position relative
      span
        display block
        padding 0
        text-decoration none
        width auto
        &.sub
          color #222222
          font-weight bolder
          padding-right 10px
          text-transform uppercase
      a
        display block
        font-weight normal
        text-decoration none
        &.sub
          padding-right 15px
          text-transform uppercase
      &.last
        a
          background none repeat scroll 0 0 transparent
      &.active
        a
          color #B6E3EC
      li
        border-left 1px solid #D7D7D7
        border-right 1px solid #D7D7D7
        width 100%
        &.last
          border-bottom 1px solid #D7D7D7
        a
          padding 5px 5px 5px 10px
          &.sub
            padding-right 15px
    ul
      border-top 1px solid #D7D7D7
      list-style none outside none
      margin 0
      padding 0
      top 32px
      width 168px
      ul
        background-color #FFFFFF
        margin-left 169px
        top -1px

ul.menu ul,
ul.menu li:hover ul ul,
ul.menu ul ul,
ul.menu li:hover ul ul ul,
ul.menu ul ul ul,
ul.menu li:hover ul ul ul ul
  left -999em
  position absolute

ul.menu li:hover ul,
ul.menu li li:hover ul,
ul.menu li li li:hover ul,
ul.menu li li li li:hover ul
  left -1px
  z-index 999

ul.menu li.hover ul ul,
ul.menu li.hover ul ul ul,
ul.menu li.hover ul ul ul ul
  left -999em
  position absolute

ul.menu li.hover ul,
ul.menu li li.hover ul,
ul.menu li li li.hover ul,
ul.menu li li li li.hover ul
  left -1px
  z-index 999

@media screen-breakpoint-one
  .topmenu
    display block
    position relative
  .topmenu-content
    font-size 90%
  .topmenu-right
    li
      a[data-method="delete"]
        margin 0

  .topmenu-left
    & > li
      & > ul
        top 98%

