@import 'nib'

form[action$="import"]
  table
    &.rename_groups_table
      tr
        white-space normal
    &.new_groups_table
      tr
        td
          float left
          width 45%
    &.validate_users_list, &.import_define
      border-collapse collapse
      width 100%
    &.validate_users_list
      display table
      tbody
        display table-row-group
      label
        &.checkbox
          & ~ input[type="checkbox"]
            display inline
      tr
        display table-row
        margin 0 0 10px
        overflow scroll
        white-space nowrap
        text-overflow clip
        width 95%
      td, th
        display table-cell
        width auto
      td
        border 1px solid black
        overflow hidden
        &.action
          border medium none
        form
          *
            width auto
            margin 0 0 0 .3em
        .change_school_info
          margin 0 0 0 3px
  .validate_users_list
    td
      width auto
      .btn
        display inline-block
        margin-left 5px
        padding 2px 6px
  .import_define th
    float left


a[href*="import/download.pdf"]
  color #F44000
  font-size 150%

#select_change_school_users
  background-image none

.mass_import_info
  font-size 100%
  .current
    font-size 110%
    font-weight bold
  .done
    color #CCCCCC

.mass_import_info_text
  font-weight bold
  margin-top 1.5em

.mass_import_form
  max-width 460px

@media screen-breakpoint-one
  .pdf_info
    font-size 115%
    margin 0
@media screen-breakpoint-two
  .mass_import_info
    span
      display block