<% form_for(@role, :url => path, :html => { :method => method })  do |f| %>

  <p>
    <%= f.label :displayName %><br />
    <%= f.text_field :displayName %>
  </p>
  <div class="submit_button_container_no_margin">
    <%= f.submit submit_text %>
    <div class="cancel"><%= link_to t('link.cancel'),  path, :class => 'cancel_button' %> </div>
  </div>
<% end %>
