<h1><%= t('.title') %></h1>

<%= render :partial => 'form',
 :locals => {
  :path => role_path(@school, @role),
  :submit_text => t('link.update'),
  :method => :put
}
%>

<% content_for :right do %>
<div><%= link_to t('link.show'), role_path(@school, @role), :class => 'show' %></div>
<% end %>
