<h1><%= t('.title') %></h1>

<%= render :partial => 'form',
 :locals => {
  :path => role_path(@school, @role),
  :submit_text => t('link.update'),
  :method => :put
}
%>

<div class="cancel"><div><%= link_to t('link.cancel'), role_path(@school, @role), :class => 'cancel_button' %> </div></div>
