<h1><span><%= t('.title') %></span></h1>

<%= render :partial => 'form',
 :locals => {
  :path => external_service_path(@school, @external_service),
  :submit_text => t('link.update'),
  :method => :put
}
%>
<% content_for :footer do %>
<ul>  
  <li class="link_header">
    <%= link_to t('layouts.application.schools'),  schools_path %> 
  </li>
  <% school_list.each do |school| %>
  <li<% if school_list.last == school %> class="last"<% end %>>
    <%= link_to school.displayName,  school_path(school) %></li>
  <% end %>
</ul>
<% end %>
