<h1><%= t('.title') %></h1>

<%= render :partial => 'form',
 :locals => {
  :path => external_service_path(@school, @external_service),
  :submit_text => t('link.update'),
  :method => :put
}
%>
<div class="cancel"><div><%= link_to t('link.cancel'), external_service_path(@school, @external_service), :class => 'cancel_button' %> </div></div>
