<h1><span>External Services for <%= @school.displayName %></span></h1>

<form action="" method="post">
<% @external_services.each do |s| %>
  <label>
    <input type="checkbox" name="external_service" value="<%= s.puavoId %>">
    <%= s.displayName %>
  </label>
<% end %>
<input type="submit" value="save">
</form>

