<% page_title t('titles.schools'), @school.displayName, t('titles.edit') %>

<div class="formContainer">

<h1><%= t('.title') %></h1>

<%= render :partial => 'form',
 :locals => {
  :path => school_path(@school),
  :submit_text => t('link.update'),
  :method => :put
}
%>

</div>

<%= render :partial => 'shared/puavoconf_editor', :locals => { storage: "school_puavoConf" } %>
