<h1><%= t('.title') %></h1>

<%= render :partial => 'form',
 :locals => {
  :path => school_path(@school),
  :submit_text => t('link.update'),
  :method => :put
}
%>
<% content_for :right do %>
<div><%= link_to t('link.show'), @school %> </div>
<% end %>
