<h1><%= t('.title') %></h1>

<% form_for(@school) do |f| %>

<%= render :partial => 'form',
 :locals => {
  :path => schools_path,
  :submit_text => t('link.create'),
  :method => :post
}
%>
<% end %>
<div class="cancel"><div><%= link_to t('link.cancel'), @school, :class => 'cancel_button' %> </div></div>
