#navbar_first_level{
clear: both;
float: left;
height: 45px;
margin: 5px 0 0;
}
#navbar_first_level h1 {
float: left;
font-size: 2.5em;
margin: 10px 0 0 10px;
}
#top-area {
background: #f7efe7;
}

/*=== Navigation ===*/

#navbar_second_level {
background: none repeat scroll 0 0 #A36A2A;
background:-moz-linear-gradient(center bottom , #A36A2A 35%, #BA722D 60%) repeat scroll 0 0 transparent;
background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.35, rgb(153,106,42)),
    color-stop(0.6, rgb(186,114,45))
);
background-image: -o-linear-gradient(top,rgb(186,114,45),rgb(153,106,42));
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#A36A2A, endColorstr=#BA722D);
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#A36A2A, endColorstr=#BA722D)";
border:1px solid #222222;
border-radius: 0 12px 0 0;
clear: both;
color: #4A4D4A;
float: left;
font-size: 8pt;
font-weight: normal;
height: 35px;
margin: 0 0 -5px;
padding: 0;
text-transform: uppercase;
width: 100%;
z-index: 9999;
-moz-border-radius: 0 12px 0 0;
-webkit-border-radius: 0 12px 0 0;
}
div:not(#navbar_second_level) .wrap:first-of-type {
border-top: 1px solid #222;
margin: 1em 0;
}
#navbar_second_level ul:not(.submenu) {
display: inline-block;
margin: 5px 0 0;
padding: 0;
}
#navbar_second_level > ul{
display:inline-block;
margin: 5px 0 0;
padding: 0;
}
#navbar_second_level li {
display: inline;
float: left;
height: 30px;
margin: 0 0 0 5px;
min-width: 80px;
padding: 0 0.2em;
position: relative;
text-align: center;
text-decoration: none;
white-space: nowrap;
width: auto !important;
}

#navbar_second_level li:first-child{
margin: 0 0 0 6px;
}

#navbar_second_level li:hover:not(.current){
background: none repeat scroll 0 0 #FFFFFF;
border-radius: 10px 10px 0 0;
border-left: 1px solid #222222;
border-radius: 10px 10px 0 0;
border-right: 1px solid #222222;
border-top: 1px solid #222222;
margin-right:-2px;
z-index: 9999;
-moz-border-radius:10px 10px 0 0;
-webkit-border-radius:10px 10px 0 0;
}
#navbar_second_level li a {
border-radius: 10px 10px 0 0;
color: #E6E6D8;
display: block;
line-height: 3.2;
margin: 0;
text-decoration: none;
-moz-border-radius: 10px 10px 0 0;
-webkit-border-radius: 10px 10px 0 0;
}
#navbar_second_level li a:hover {
color:#222222;
}
#navbar_second_level li.current {
background: none repeat scroll 0 0 #FFFFFF;
border-left: 1px solid #222222;
border-radius: 10px 10px 0 0;
border-right: 1px solid #222222;
border-top: 1px solid #222222;
-moz-border-radius: 10px 10px 0 0;
-webkit-border-radius: 10px 10px 0 0;
}
#navbar_second_level li.current a {
    color: #4A4D4A;
}
