<p>
  <b>Cn:</b>
  <%=h @terminal.cn %>
</p>

<p>
  <b>Iphostnumber:</b>
  <%=h @terminal.ipHostNumber %>
</p>


<%= link_to 'Edit', edit_terminal_path(@terminal) %> |
<%= link_to 'Back', terminals_path %>