<% page_title t('titles.schools'), @school.displayName, t('titles.devices'), t('titles.device_statistics_school') %>

<h1><%= t('device_statistics.school.title') %></h1>

<% if @total_devices == 0 %>
<p class="genericNotice"><%= t('device_statistics.school.no_devices') %></p>
<% else %>

<% if @image_stats.count == 0 %>
<p class="genericNotice"><%= t('device_statistics.school.no_devices_with_hardware_info') %></p>
<% else %>

<%= render :partial => 'images', :locals => { :show_school_links => true } %>

<% end %>

<% end %>
