/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* STYLES BEGIN */

html, body
{
    height: 100%;
}

body{
  color: #666;
  font: 100%/1 Ubuntu,'Lucida Sans Unicode', 'Trebuchet MS', Arial, Helvetica, sans-serif;    
  margin: 0;
  background-color: #d9dee2;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ebeef2), to(#d9dee2));
  background-image: -webkit-linear-gradient(top, #ebeef2, #d9dee2);
  background-image: -moz-linear-gradient(top, #ebeef2, #d9dee2);
  background-image: -ms-linear-gradient(top, #ebeef2, #d9dee2);
  background-image: -o-linear-gradient(top, #ebeef2, #d9dee2);
  background-image: linear-gradient(top, #ebeef2, #d9dee2);    
}

a{
  color: #3151A2;
  text-decoration:none;
}
img{
  height:auto;
  width:auto;
}
/*--------------------*/

.login{
  background-color: #fff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
  background-image: -webkit-linear-gradient(top, #fff, #eee);
  background-image: -moz-linear-gradient(top, #fff, #eee);
  background-image: -ms-linear-gradient(top, #fff, #eee);
  background-image: -o-linear-gradient(top, #fff, #eee);
  background-image: linear-gradient(top, #fff, #eee);
  background-clip:padding-box;
  border: 5px solid #ed7113;
  border: 5px solid rgba(237,113,19,0.5);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;  
  -webkit-box-shadow:
    2px -2px 2px rgba(0, 0, 0, 0.5), -2px 2px 2px rgba(0,0,0,0.5), inset 0 5px 100px rgba(65, 120, 107, 0.2);
  -moz-box-shadow:
    2px -2px 2px rgba(0, 0, 0, 0.5), -2px 2px 2px rgba(0,0,0,0.5), inset 0 5px 100px rgba(65, 120, 107, 0.2);
  box-shadow:
    2px -2px 2px rgba(0, 0, 0, 0.5), -2px 2px 2px rgba(0,0,0,0.5), inset 0 5px 100px rgba(65, 120, 107, 0.2);
  margin: 1em auto;
  padding: 2%;
  position: relative;
  width: 60%;
  z-index: 0;
}

.login:before{
    content: '';
    position: absolute;
    z-index: -1;
    border: 1px dashed #ccc;
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 5px;
    -moz-box-shadow: 0 0 0 1px #fff;
    -webkit-box-shadow: 0 0 0 1px #fff;
    box-shadow: 0 0 0 1px #fff;
}

/*--------------------*/

.login h1{
  float: left;
  font-size: 140%;
  margin: 0 0 10px 0;
  letter-spacing: 3px;
  padding: .5em 0 0 .5em;
  position: relative;
  text-shadow: 0 -1px 1px rgba(237, 113, 19, 0.75);
  text-transform: uppercase;
  text-align: left;
}
.login .service-logo{
  border: 1px solid #ED7113;
  margin: 0 2%;
}

/*--------------------*/

fieldset{
  border: 0;
  padding: 0;
  margin: 0;
}
/*--------------------*/





.choose-organization button{
  margin-top:1em;
}

.inputs input, .choose-organization select{
  border: 1px solid #ccc;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
  -moz-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
  -webkit-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
  font-size: 100%;
  padding: 0.75em;
  margin: 0 0 10px 0;
}
.chosen-organization{
  color:#333333;
  font-size:100%;
  line-height:1;
  padding: .5em 0 0 .5em;
}
.chosen-organization strong{
  color: #00A911;
  margin-right:0.5em;
}
.chosen-organization a{
  font-size:90%;
}
.inputs .user-details-header{
  padding: 2% 2% 2% 0;
  position: relative;
}

.user-details-header span{
  left: 20%;
  position: absolute;
  top: 30%;
}
.inputs img.opinsys-legend{
  display: inline-block;
  width:20%;
}
.choose-organization .chzn-container{
  width: 80% !important;
}
/*Modified chosen styles*/
.chzn-container-single .chzn-drop{
  width:99.5% !important;
}
.chzn-container-single .chzn-search input{
  width:90% !important;
}
.username, .organization,.password{
  width: 80%;  
}

.inputs input:focus{
  background-color: #fff;
  border-color: #ed7113;
  box-shadow: 0 0 0 1px #e8c291 inset;
  -moz-box-shadow: 0 0 0 1px #e8c291 inset;
  -webkit-box-shadow: 0 0 0 1px #e8c291 inset;
  outline: none;
}
.inputs .field-placeholder{
  position: relative;
}
.what-this-means{
  background-color: #ffb94b;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffb94b), to(#f17931));
  background-image: -webkit-linear-gradient(top, #ffb94b, #f17931);
  background-image: -moz-linear-gradient(top, #ffb94b, #f17931);
  background-image: -ms-linear-gradient(top, #ffb94b, #f17931); 
  background-image: -o-linear-gradient(top, #ffb94b, #f17931);
  background-image: linear-gradient(top, #ffb94b, #f17931);
  border-radius:50%;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  font-size:100%;
  display: inline-block;
  height:1em;
  line-height:1;
  padding: 0.3em;
  text-align:center;
  width:1em;
}
.what-this-means:hover{
  color: #000000;
  cursor: pointer;
}

/*--------------------*/

.submit, .choose-organization button{   
  background-color: #ffb94b;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffb94b), to(#f17931));
  background-image: -webkit-linear-gradient(top, #ffb94b, #f17931);
  background-image: -moz-linear-gradient(top, #ffb94b, #f17931);
  background-image: -ms-linear-gradient(top, #ffb94b, #f17931); 
  background-image: -o-linear-gradient(top, #ffb94b, #f17931);
  background-image: linear-gradient(top, #ffb94b, #f17931);
  border: solid 1px #d69e31;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
  color: #8f5a0a;
  cursor: pointer;
  font-size:1em;
  height: 50px;
  padding: 0;
  text-shadow: 0 1px 0 rgba(255,255,255,0.5);    
  width: 50%;
}

.submit:hover,.submit:focus, .choose-organization button:hover, .choose-organization button:focus{   
  background-color: #fddb6f;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffb94b), to(#fddb6f));
  background-image: -webkit-linear-gradient(top, #ffb94b, #fddb6f);
  background-image: -moz-linear-gradient(top, #ffb94b, #fddb6f);
  background-image: -ms-linear-gradient(top, #ffb94b, #fddb6f);
  background-image: -o-linear-gradient(top, #ffb94b, #fddb6f);
  background-image: linear-gradient(top, #ffb94b, #fddb6f);
} 

.submit:active, ..choose-organization button:active{   
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
  outline: none;
}

.submit::-moz-focus-inner{
  border: none;
}

.actions a{
  line-height: 3;
  margin-left: 10px;
}

/* Media Querys */

@media (max-width: 1024px){
  body{
    font-size:90%;
  }
  .login{
    width:80%;
  }
}
@media (max-width: 640px){
  body{
    font-size:80%;
  }
  .login{
    width:90%;
  }
}
@media (max-width: 500px){
  body{
    font-size:80%;
  }
  .login{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
    width:100%;
  }
  .username, .organization, .choose-organization .chzn-container {
    width: 90% !important;
  }
  .password{
    width: 90%
}
  .inputs .field-placeholder{
    margin-bottom:0.5em;
  }
}

/* End of Media Querys */


.choose-organization button,
.chosen-organization {
  display: none;
}

/* Organisation selection only */
.organisation-only .choose-organization button {
  display: block;
}
.organisation-only .inputs,
.organisation-only .chosen-organization,
.organisation-only .actions {
  display: none;
}


/* Login form only */
.login-only .chosen-organization {
  display: block;
}
.login-only .choose-organization {
  display: none;
}

