@import 'nib'

/*
====================================================================================================
COLORS
====================================================================================================
*/

baseBg = rgb(227, 227, 217)
baseGradientBg = rgb(242, 242, 242)

baseBrown = rgb(163, 106, 42)
baseBrownGradient = rgb(186, 114, 45)

baseFont = rgb(27, 27, 27)

baseOrange = rgb(250, 179, 46)
baseOrangeGradient = rgb(245, 149, 69)

baseBoxShadowBorderColor = rgb(34, 34, 34)

buttonBg = rgb(245, 245, 245)
buttonGradientBg = rgb(220, 220, 220)
buttonNormalColor = rgb(51, 51, 51)
buttonHoverColor = #000

buttonDangerBgColor = rgb(231, 6, 0)
buttonDangerBgImage = rgb(219, 64, 60)
buttonDangerGradientBgImage = rgb(194, 31, 22)
buttonDangerHoverBg = rgb(180, 31, 23)

buttonDangerColor = rgb(255, 255, 255)
buttonDangerHoverColor = rgb(255, 255, 255)

buttonBorderColor = rgba(0, 0, 0, 0.1)
buttonBorderColor2 = rgba(0, 0, 0, 0.25)
buttonBorderHexColor = #e6e6e6
buttonBorderHexColor2 = #bfbfbf

creamWhite = rgb(255, 255, 240)

errorRed = rgb(231, 6, 0)

focusColor = rgb(88, 151, 251)

formElementBorderColor = rgb(200, 200, 200)

infoBgColor = rgb(217, 237, 247)

rowEvenBgColor = rgb(250,250,250)
rowOddBgColor = rgb(235,235,235)

headersUnderlineColor = rgb(0, 0, 0)

linkNormalColor = #13243f
linkHoverColor = #352608
linkFocusColor = #000000

formFieldsetBorderColor = #ccc

formLabelColor = rgb(0, 0, 0)
formErrorColor = rgb(255, 0, 0)

formOddRowBackground = none
formEvenRowBackground = #f5f5f5
formButtonRowBackground = #fff

/*
====================================================================================================
MEDIA QUERIES
====================================================================================================
*/

/*
screen-breakpoint-one = "screen and (max-width: 768px)"
screen-breakpoint-two = "screen and (max-width: 480px)"
screen-breakpoint-three = "screen and (max-width: 320px)"

screen-portrait-breakpoint-one = "screen and (orientation: portrait) and (max-device-width: 800px)"
screen-portrait-breakpoint-two = "screen and (orientation: portrait) and (max-device-width: 540px)"
screen-landscape-breakpoint-one = "screen and (orientation: landscape) and (max-device-width: 960px)"
*/

/*
====================================================================================================
BASE
====================================================================================================
*/

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, "Helvetica Neue", sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  background: baseBg;
}

/* The school name at the top of the page */
header#schoolName {
  font-size: 220%;
  font-weight: normal;
  font-variant: small-caps;
  margin-top: 12px;
}

/* Currently this is only used for the debugging information block */
footer {
  color: transparent;
  font-size: 80%;
  text-align: right;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

h1 {
  font-size: 250%;
  border-bottom: 1px solid headersUnderlineColor;
}

h2 {
  margin-top: 25px;
  font-size: 200%;
  border-bottom: 1px dashed headersUnderlineColor;
}

h3 {
  font-size: 130%;
  border-bottom: 1px dotted headersUnderlineColor;
}

h4 {
  font-size: 115%;
}

h5 {
  font-size: 110%;
}

h6 {
  font-size: 105%;
}

a {
  color: linkNormalColor;
}

a:hover {
  color: linkHoverColor;
  text-decoration: none;
}

a:focus {
  color: linkFocusColor;
}

p {
  margin: 0 0 0.5em 0;      /* TODO: this can be removed (but see user/device info pages first!) */
}

img {
  border: none;
  max-width: 100%;
}

hr {
  /* Used to break floating boxes into controlled sections, so to speak */
  border: none;
  clear: both;
  float: none;
  height: 0;
  margin: 0;
  width: 100%;
  visibility: hidden;
}

legend {
  font-weight: bold;
  font-size: 110%;
  padding: 0 5px;
}

/*
====================================================================================================
THE TOPMOST MENU BAR
====================================================================================================
*/

/* The bar at the top of the page. Contains the organisation and school menus, the quick search bar,
   the username of the currently logger user and the logout button. */
.topmenu {
  margin: 0;
  min-width: 300px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;

  background-color: baseOrangeGradient;
  background-image: linear-gradient(baseOrange 0% ,baseOrangeGradient 100%);
  border-bottom: 1px solid baseBoxShadowBorderColor;
  box-shadow: 2px 4px 6px rgba(68, 68, 68, 0.80);
}

.topmenu ul {
  list-style-type: none;
}

/* Wraps the actual topmenu contents */
.topmenu-content {
  font-size: 80%;
  margin: 0 auto;
  max-width: 1200px;
  position: relative;
  width: 95%;
}

/* The left topmenu block contains the organisation and school dropdown menus */
.topmenu-left {
  float: left;
  font-size: 85%;
  font-weight: bold;
  line-height: 3.5;
  margin: 0;
  padding: 0 5px;
  text-transform: uppercase;
}

.toplevelMenu {
  float: left;
  color: #000;
}

.toplevelMenu:hover {
  background: #fff;
  color: #000;
}

.toplevelMenu span {
  cursor: default;
  padding-left: 10px;
  padding-right: 10px;
}

.toplevelMenu span:after {
  content: " ▼";
}

/* The organisation menu does not exist for non-owners */
.noMenuHighlight span:after {
  content: "";
}

.noMenuHighlight:hover {
  background: none;
  color: #000;
}

/* A generic dropdown menu container (UL) */
.toplevelDropdown {
  visibility: hidden;
  display: none;
  position: absolute;

  margin: 0 0 0 -1px;
  padding: 5px;
  left: auto;

  background: baseOrangeGradient;
  border-left: 1px solid #222;
  border-right: 1px solid #222;
  border-bottom: 1px solid #222;
  border-radius: 0 0 4px 4px;

  line-height: 1;
  z-index: 10;

  box-shadow: 0 6px 6px rgba(68, 68, 68, 0.80);

  max-height: 600px;
  min-width: 200px;
  overflow-y: auto;
}

/* Make the dropdown menu visible */
.toplevelMenu:hover .toplevelDropdown {
  visibility: visible;
  display: block;
}

.toplevelDropdown li {
  display: block;
  border-top: 1px solid #ccc;
  padding: 2px 0;
  clear: both;
}

.toplevelDropdown li:first-of-type {
  border-top: none;
}

.toplevelMenu a {
  color: #000;
  margin: 0;
  padding: 10px;
  display: block;
  text-decoration: none;
}

.toplevelMenu a:hover {
  color: #000;
  background: #fff;
}

/* The per-school quick link list */
ul.schoolLinks {
  padding-top: 2px;
  padding-left: 20px;
  font-size: 80%;
}

.schoolLinks li {
  float: left;
  clear: none;
  border: none;
}

.schoolLinks a {
  padding: 2px;
}

/* TODO: This menu is the wrong place for this button! Provide a link to the school list page instead.
   We have to override annoyingly many properties, because the button is actually an "A" element. */
.newSchool {
  border-top: none !important;
  margin-top: 10px !important;
  text-transform: none !important;
  float: right;
}

/* Outer container for the search box */
.topmenu-search {
  float: left;
  margin: 0;
  padding: 0 5px;
}

/* The search box outer element */
.topmenu-search input {
  float: left;
  margin: 5px 0 0 5px;
  padding: 5px 30px 5px 10px;

  border: 1px solid formElementBorderColor;
  border-radius: 4px;
}

/* The right topmenu block contains the logged in username and the logout button */
.topmenu-right {
  float: right;
  padding: 0;
  margin: 3px 0 0 0;
}

.topmenu-right li {
  float: left;
  line-height: 1.5;
  margin: 0;
  padding: 0 2px;
}

.topmenu-right a {
  text-decoration: none;
}

#loggedInName {
  margin-top: 6px;
}

#logoutButton {
  border: none;
  margin: 0 0 0 10px;
  padding: 4px 10px;
}

/*
====================================================================================================
MAIN PAGE LAYOUT AND THE MULTILINE "TAB" ROW
====================================================================================================
*/

.clearfix, .container {
  display: block;
}

.container {
  height: 100%;
  margin: 0;
  min-width: 300px;
}

.clearfix:after, .container:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  overflow: hidden;
}

.navbar-first-level a
  text-decoration none

.main-wrap
  margin 25px auto
  max-width 1200px
  padding 5px 10px 0
  width 95%
  & > h1
    font-size 220%
    font-variant small-caps
    margin 0
    padding 1% 0 0 0

//.maincontent
.maincontent
  font-size 80%
  margin 0 0 2% 0
  padding 2%
  position relative
  width 100%
  .dashboard
    float left
    margin 0
    width 100%
  h1
    line-height 1
    margin 0 0 1%
    padding 0
// end of .maincontent

// .tools ->
.tools-container
  float right
  margin-bottom 2%
  &:empty, span:empty
    display none
  .tools
    float right
    height 40px
    margin 5px 0 .2em 1em
    padding 0
    .sub-tools
      list-style-type none
      margin 0
    > div, .sub-tools > li
      float left
      margin 0
      padding 0 0 0 5px
      position relative
    .sub-tools > li.tool
      padding 0 1em
    .tool
      ul
        list-style-type none
        display none
        right 1em
        padding 0
        position absolute
        margin 0
        li
          padding 0 5px

.tools a, .tool span
  display block
  height auto
  line-height 1.25
  margin 0
  padding 10px
  white-space nowrap
  width auto

// End of .tools

.main-wrap
  background none repeat scroll 0 0 baseBg
  border 5px solid #3E3E2D
  border-radius 10px 10px 0 0
  box-shadow 0px 15px 15px rgba(68, 68, 68, 0.70)

.maincontent
  background-color white
  border-bottom 1px solid baseBoxShadowBorderColor
  border-left 1px solid baseBoxShadowBorderColor
  border-right 1px solid baseBoxShadowBorderColor
  border-radius 0 0 4px 4px
  > h1 span
    border-bottom 1px solid baseBoxShadowBorderColor

// end of topmenu

// main-navigation
.navbar-first-level
  .current_page_item
    background-color baseBrown
    background-image linear-gradient(baseBrown 0%, baseBrownGradient 100%)
    border-left 1px solid baseBoxShadowBorderColor
    border-right 1px solid baseBoxShadowBorderColor
    border-top 1px solid baseBoxShadowBorderColor
    a
      color creamWhite
  ul > li
    &:hover
      background none repeat scroll 0 0 baseBrown
      background-image linear-gradient(baseBrown 0%, baseBrownGradient 100%)
  .last_one
    background none repeat scroll 0 0 transparent
    border medium none
  li
    background-color baseOrange
    background-image linear-gradient(baseOrange 0% ,baseOrangeGradient 100%)
    border-radius 4px 4px 0 0

.navbar-second-level ul
    list-style-type none

.navbar-second-level
  background-color baseBrown
  background-image linear-gradient(baseBrownGradient 35%, baseBrown 60%)
  border 1px solid baseBoxShadowBorderColor
  border-radius 0 4px 0 0
  .current a, a:hover
    background-color white
    border-left 1px solid baseBoxShadowBorderColor
    border-radius 4px 4px 0 0
    border-right 1px solid baseBoxShadowBorderColor
    border-top 1px solid baseBoxShadowBorderColor
    color #4A4D4A
  li
    a
      border-radius 10px 10px 0 0
      border 1px solid transparent
      color #E6E6D8
      &:hover
        color #222222

// end of main-navigation

// tools
.tools
  a
    text-decoration none
    &:hover
      color #222
  .tool
    span
      &:hover
        cursor pointer
    ul
      background #fff
      border 1px solid #AAAAAA
      li
        margin 2px
        background none repeat scroll 0 0 #FFFFFF
        &:hover
          background none repeat scroll 0 0 #C0772F

// End of .tools

.navbar-first-level
  clear both
  margin 5px 0 -1px
  ul
    display inline-block
    font-size 80%
    font-weight bold
    line-height 3
    list-style none outside none
    margin 0 0 -0.5em 0
    padding 0
    text-align center
    text-transform uppercase
    width 100%
    .current_page_item
      position relative
    .last_one
      height 0
      margin 0
      padding 0
      position relative
    & > li
      float left
      margin 0 3px 0 0
      white-space nowrap
      &:last-child
        margin 0
    a
      display block
      padding 0 1em

.navbar-second-level
  font-size 70%
  font-weight normal
  margin 0
  padding 0
  text-transform uppercase
  width 100%
  ul
    display block
    margin 0 0 -1px
    padding 5px 0 0
    &:after
      clear both
      content " 0020"
      display block
      height 0
      overflow hidden
      visibility hidden
  li
    float left
    margin 0 0 0 5px
    padding 0
    position relative
    text-align center
    text-decoration none
    white-space nowrap
    width auto
    &:first-child
      margin 0 0 0 6px
    a
      display block
      margin 0
      padding 8px
      text-decoration none
      &:hover
        color #222222

@media screen-breakpoint-one
  .navbar-first-level
    ul
      a
        padding 0.7em 2em
  .navbar-second-level
    font-size 60%
    li
      a
        padding .5rem

@media screen-portrait-breakpoint-one
  .navbar-first-level
    ul
      a
        padding .2rem .5rem
  .navbar-second-level
    li
      a
        padding .5rem


/*
====================================================================================================
SEARCH FIELDS
====================================================================================================
*/

/* The search box itself */
#search {
  margin: 4px;
  z-index: 1;
  background: url("<%= image_path('magnifier.png')%>") no-repeat scroll 97% center #FFFFFF;
  background-repeat: no-repeat;
}

.loading {
  /*
    The JavaScript code doing the live search adds this class to the search box when search
    is in progress, then removes it afterwards.
  */
  background: url("<%= image_path('ajax-loader.gif')%>") no-repeat scroll 95% 4px #FFFFFF !important;

  /*
    FIXME: Unfortunately this class is also added to the user search box in the group members page,
    and the box loses its border. Not good. I don't understand why this class messes up that box,
    it does not touch borders or anything else!? These styles are not coming from the #jquery-live-search
    defined below, I already checked that.
  */
}

/* Container for the top bar search results */
#jquery-live-search {
  background #fff;
  border: 1px solid #cccaaa;
  border-width: 0 1px 1px 1px;
  margin: 0 1em 0 0;
  max-height: 350px;
  overflow: auto;
  padding: 5px;
  position: absolute;
  width: auto;
  z-index: 9999;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.search_result table {
  border-spacing: 0;
  margin: 0px;
  padding: 0px;
}

.search_result th {
  white-space: nowrap;
}

.search_result legend {
  padding-left: 2px;
  padding-right: 2px;
}

fieldset.search_result {
  font-size: 80%;
  padding: 5px;
}

/*
@media screen-breakpoint-one
  #jquery-live-search
    left 0 !important
    width 100%
*/

/*
====================================================================================================
COMMON CONTENT ELEMENTS
====================================================================================================
*/

[class*=icon] {
  font-size: 120%;
}

.content-box-new {
  min-width: 45%;
  width: 49%;
  float: left;
  margin: 5px;
  padding: 0;
}

.fullWidth {
  /* Used on the school page to show admins and billing info */
  width: 99%;
  clear: both;
  float: none;
}

/* Generic floating container boxes that have titles */

.content-box-new header {
  background: linear-gradient(#ba722d, #a36a2a);
  color: #fff;
  padding: 5px 10px;
  margin: 0;
  font-size: 130%;
  border-radius: 5px 5px 0 0;
  border-bottom: 1px dotted #000;
}

.content-box-new .contents {
  padding: 5px;
  background: #f0f0f0;
  border-radius: 0 0 5px 5px;
}

.content-box-new table {
  width: 100%;
}

.content-box-new tr:nth-child(odd) {
  background: #f0f0f0;
}

.content-box-new tr:nth-child(even) {
  background: #e0e0e0;
}

.content-box-new h3 {
  margin: 5px 0 10px 0;
  padding: 0 5px;
  border-bottom: 2px solid #000;
  font-size: 120%;
  font-weight: bold;
}

/* Table-ish emulation */
.multilineItem {
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.multilineItem .header {
  font-size: 120%;
  font-weight: bold;
  margin-bottom: 5px;
}

.multilineItem .content {
  margin-left: 20px;
}

/* Heading row/column of tables. Can't use TH only, as it's usage varies. */
.tableHeading th {
  background: #ccc;
}

.noWrap {
  white-space: no-wrap;
}

.noFloat {
  float: none !important;
}

/* A generic missing/unset information indicator for data that isn't always required but really should be set */
.missingData {
  color: #f00;
}

/* Buttons and areas that are visible to owners only */
.ownersOnly {
  border: 1px dashed #f00;
}

/* Puavo-conf tables in various places */
.puavoConf tr:nth-child(odd) {
  background: #ddd;
}

.puavoConf tr:nth-child(even) {
  background: #fff;
}

/* Basic user/device information block */
.basic-info td {
  vertical-align: top;
}

.basic-info h1 {
  border-bottom: none;
}

.basic-info label {
  font-weight: bold;
}

.basic-info .notice_text {
  color: red;
}

/* Images on school, user, server and device pages */
.image {
  margin: 0;
  padding: 0;
}

/*
====================================================================================================
THEME
====================================================================================================
*/

/*
// login

.login_container
  background none repeat scroll 0 0 baseBg
  box-shadow 0 4px 8px baseBoxShadowBorderColor
  .login_content
    background none repeat scroll 0 0 white
  h1
    color #2D2D2D
  h2
    color #323232
  a
    &:hover
      color #AD0000

.password_container
  background-color baseBrown
.login_content
  background-color white
  span
    border 1px solid transparent
    border-radius 4px 4px 0 0
  .message_alert
    background-color errorRed

  .password_buttons span
    background none repeat scroll 0 0 #FAB32E
    background-image linear-gradient(baseOrange 0% ,baseOrangeGradient 100%)
    border-bottom none
    &.active, &:hover
      background none repeat scroll 0 0 baseBrown
      background-image linear-gradient(baseBrownGradient 0%, baseBrown 100%)
      a
        color white
// end of login

@media screen-breakpoint-one
  .main-wrap, .login_container, .navbar-second-level
    border solid 1px transparent
  .maincontent
    border none
    border-radius 0
  .content-box-new, .user_box, .content-box-new h3, .show_user h3
    border-radius 0

  table
    &.list
      tr
        border-bottom 1px solid baseBoxShadowBorderColor
        &:nth-child(2)
          border-top 1px solid baseBoxShadowBorderColor
      th
        display none
      td
        border-bottom none
  .login_content
    .password_buttons
      span, span.active
        border-radius 4px
*/

/*
====================================================================================================
FLASH MESSAGES AND OTHER WARNING/ERROR BOXES
====================================================================================================
*/

.message_alert, .message_notice, .message_success {
  font-size: 130%;
  text-align: center;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
}

/* TODO: What's the difference between message_success and message_notice? Merge them. */

.message_success {
  background: #e6efc2;
  color: #264409;
  border: 1px solid #c6d880;
}

.message_notice {
  background: #86b410;
  border: 1px solid #56340e;
}

.message_alert {
  background: #a00;
  border: 1px solid #f00;
  color: #fff;
}

/*
====================================================================================================
BUTTONS
====================================================================================================
*/

/* Base button */
.btn {
  display: inline-block;
  margin-bottom: 0;
  padding: 4px 12px;
  font-weight: normal;
  text-align: center;
  text-decoration: none;

  background: linear-gradient(buttonBg 0%, buttonGradientBg 100%);
  border: 1px solid #cccccc;
  border-color: buttonBorderColor buttonBorderColor buttonBorderColor2;
  border-radius: 3px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  color: buttonNormalColor;
}

.btn:hover, .btn:focus {
  background: buttonGradientBg;
  color: buttonHoverColor;
}

.btn-danger {
  color: buttonDangerColor;
  background: linear-gradient(buttonDangerBgImage, buttonDangerGradientBgImage);
}

.btn-danger:hover, .btn-danger:focus, .btn-danger:active {
  color: buttonDangerHoverColor;
  background: buttonDangerHoverBg;
}

/*
@media screen-breakpoint-one
  .btn
    padding 0.5em 1em
*/

/*
====================================================================================================
TABLES
====================================================================================================
*/

table {
  border-collapse: collapse;
}

th, td {
  vertical-align: middle;
  margin: 0;
  padding: 6px;
}

th {
  font-size: 110%;
  text-align: left;
  text-decoration: none;
}

table a {
  font-weight: bold;
}

.mountPoints td, .mountPoints th {
  border: none;
}

.mountPoints th {
  text-align: center !important;
  background: #ccc;
}

/*
====================================================================================================
FORMS
====================================================================================================
*/

/* editForms are used for creating and editing users, group, devices, schools, and so on */
.editForm {
  border-collapse: collapse;
  width: 100%;
}

.editForm td, .editForm th {
  padding: 10px;
}

.editForm tr:nth-child(odd) {
  background: formOddRowBackground;
}

.editForm tr:nth-child(even) {
  background: formEvenRowBackground;
}

.buttonRow td, .buttonRow th {
  background: formButtonrowBackground;
}

.editForm input[type="text"], .editForm input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
}

.editForm input[type="checkbox"], .editForm input[type="radio"] {
  padding: 0;
  margin: 0 5px 0 0;    /* push labels away from the input box */
}

.editForm select {
  padding: 5px;
}

.editForm th {
  text-align: right;
  width: 250px;
}

.editForm select {
  width: 100%;
}

.editForm textarea {
  width: 100%;
}

.editForm th {
/*  vertical-align: top;*/
}

.editForm label {
  /* Labels for checkboxes/radio buttons */
  font-weight: normal;
  font-size: 120%;
  line-height: 2;
}

.editForm th label {
  font-size: 110%;
  font-weight: bold;
  word-wrap: none;
  color: formLabelColor;
  padding: 0;
  margin: 0;
}

input[type="submit"] {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  background: none repeat scroll 0 0 #eeeeed;
  background-image: linear-gradient(white 0%, #eeeeed 100%);
  cursor: pointer;
}

input[type="submit"]:hover {
  background: none repeat scroll 0 0 #eee;
  background-image: linear-gradient(white 0%, rgb(238, 238, 237) 100%);
  border: 1px solid focusColor;
}

/* The "* = required" label displayed at the top of forms */
.required_info {
  color: formErrorColor;
}

.field_error {
  color: formErrorColor;
  font-weight: bold;
  display: block;
}

.required .field_with_errors {
  display: inline-block;
}

.required:after {
  content: " *";
  font-size: 120%;
  color: formErrorColor;
}

/* Fields with invalid/missing values */
.editForm .label_error {
  color: formErrorColor;
}

/* The small label below the field explaining what's wrong with the current value */
.field_with_errors {
  color: formLabelColor;
  font-weight: bold;
}

.field_with_errors input, .field_with_errors select {
  border: 1px solid formErrorColor;
}

/* Administrative groups checkbox list header */
.administrativeGroups header {
  border-bottom: 1px dashed black;
  font-size: 110%;
  margin-bottom: 5px;
  margin-left: 10px;
}

/* Administrative groups checkbox list entry */
.administrativeGroups input[type="checkbox"] {
  margin-left: 30px;
}

fieldset {
  border: 1px solid formFieldsetBorderColor;
  padding: 10px;
  margin: 10px;
}

/* Submit and cancel buttons */
.editForm input[type="submit"] {
  font-size: 120%;
  height: 70px;
  width: 50%;
  max-width: 300px;
}

.editForm .cancel {
  display: inline;
  font-size: 100%;
  margin: 0;
  padding: 0;
  width: 100px;
}

.editForm .cancel:before {
  content: " – ";
}

/* The "clone" buttons in email/phone number/mac address/etc. fields */
.clone_prev_input_element {
  margin-bottom: 0.5em;
}

/*
@media screen-breakpoint-one
  form
    table, tbody
      display block
    table
      padding 0 2%
      max-width 100%
      tr
        display block
        position relative
        td, td:first-child, th
          display block
          text-align left
          width 100%
    &.form_inline
      padding 2% 0
      .submit_button_login
        margin 5% 0 0
      input
        max-width 100%
        min-height 50px
        width 98%
    input, select
      width 95%
    input[type="submit"]
      width 50%
  label
    font-size 100%

  .new_ldap_service tr td:nth-child(even), .new_ldap_service tr td:nth-child(odd), .edit_ldap_service tr:nth-child(even), .edit_ldap_service tr:nth-child(odd)
    width 95%
  .show_user
    table
      &.list
        td
          display inline-block
          &.value_td
            padding-left 1em
            text-align left

  .mass_import_info, .mass_import_info_text
    padding 2%

  form[action$="import/validate"] p, form[action$="import/refine"] p, form[action$="import/refine"] pre
    padding 0 0 0 2%

  .mass_import_form
    width 90%
    input
      margin-left 2%

  textarea#raw_users
    margin-left 2%
    width 90%

  form table.import_define th, form table.import_define td
    width 45%
    display inline-block

  .form_inline
    & > *
      padding 0 2%
    label
      display block
      text-align left

  form.new_device h2, form.edit_device h2, form.edit_server h2
    padding 0 2%

  form table.rename_groups_roles_table tr th, form table.rename_groups_roles_table tr td
    width 45%

  #other_groups td, #member_groups td
    line-height 3

  .required_info
    margin-left 2%

  .no-table-form
    padding 2%
    input
      max-width 100%
  .content-box-new
    table
      td
        label
          line-height 1.5
*/

/*
====================================================================================================
LISTS OF THINGS (in tables, not ul/ol)
====================================================================================================
*/

/* Lists of schools, users, devices, etc. */
.list {
  /*width: 100%;*/  /* fix the tool buttons first! */
}

.list th {
  background: linear-gradient(top, #a36a2a 35%, #ba722d 60%);
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  color: #f5f5e8;
  padding: 10px;
  font-size: 100%;
}

.list tr:nth-child(even) {
  background: #fafafa;
}

.list tr:nth-child(odd) {
  background: #ebebeb;
}

.list tr:hover {
  background: #f9f7e6;
}

.list td {
  border-bottom: 1px solid #c8c8c8;
}

/* Alternate colors for the "marked for deletion" users table */
.marked_for_deletion_users_list tr:nth-child(even) {
  background-color: #fcc;
}

.marked_for_deletion_users_list tr:nth-child(odd) {
  background-color: #faa;
}

.marked_for_deletion_users_list tr:hover {
  background: #fdd;
}

.marked_for_deletion_group:nth-child(even) {
  background-color #fcc !important;
}

.marked_for_deletion_group:nth-child(odd) {
  background-color #faa !important;
}

.list .form {
  margin-top: 20px;
  float: left;
}

.list input[type="text"] {
  width: 15em;
}

.list input[type="submit"] {
  paddin: 0;
  margin: 0;
  width: auto;
  height: auto;
  float: right;
}

/*
====================================================================================================
ORGANISATIONS
====================================================================================================
*/

/* The "missing owners" warning at the top of organisation owners page */
.missingOwners {
  border: 2px solid #ff0;
  padding: 10px 10px 0 10px;
  background: #ffc;
  margin: 20px;
}

/*
====================================================================================================
LDAP SERVICES
====================================================================================================
*/

.ldap_services_system_groups div {
  word-wrap: break-word;
}

/*
====================================================================================================
GROUPS
====================================================================================================
*/

/* Mass group rename */
.rename_group_old_name {
  text-align: right;
  width: 35%;
}

.rename_group_new_name {
  width: 60%;
}

.rename_group_name_abbr {
  width: 45%;
}

.groupRenameTable th {
  text-align: left !important;
  background: #ccc;
}

/* Course groups */
.courseGroupType, .courseWarning {
  color: #00f;
}

/*
====================================================================================================
DEVICES
====================================================================================================
*/

.purchase_date select {
  /* There are three of these on the same row, make them look nice */
  width: auto;
}
/*
--------------------------------------------------------------------------------
Hardware info page
--------------------------------------------------------------------------------
*/

.hwInfoTitle {
  margin-bottom: 1em !important;
}

.hwInfoTimestamp {
  font-size: 150%;
  margin: 1em 0 1em 0;
}

.hwInfoTable {
  border: 2px solid #aaa;
  border-collapse: collapse;
  width: 100%;
}

.hwInfoTable th {
  border: 1px solid #aaa;
  padding: 7px;
  text-align: right;
  width: 150px;
}

.hwInfoTable .main {
  text-align: center;
  vertical-align: middle;
  background: #eee;
}

.hwInfoTable td {
  border: 1px solid #aaa;
  padding: 7px;
}

.hwInfoTable .sectionEnd {
  border-bottom: 2px solid #aaa;
}

.hwInfoRaw {
  height: 350px;
  font-size: 120%;
  overflow: scroll;
}

/*
====================================================================================================
EXTERNAL SERVICES
====================================================================================================
*/

.disabledExternalService {
    opacity: 0.5;
}

/*
====================================================================================================
USERS
====================================================================================================
*/

/* Email and telephone inputs (multiple text boxes) */
#user_mail_list input, #user_telephoneNumber_list input {
    display: block;
    margin: 0 0 5px;
}

.marked_for_deletion
  color: red;

/*
====================================================================================================
USERNAME LISTS
====================================================================================================
*/

/* A list containing the usernames of an unloaded username list */
.usernameListBox {
  border: 1px solid #ccc;
  padding: 5px;
  max-height: 400px;
  overflow-y: scroll;
}

/* TODO: refactor these all */
.description {
  margin-bottom: 20px;
}

.meta_information {
  float: left;
}

.clear {
  clear: both;
}

/*
====================================================================================================
USERS IMPORT
====================================================================================================
*/

form[action$="import"]
  table
    &.rename_groups_table
      tr
        white-space normal
    &.new_groups_table
      tr
        td
          float left
          width 45%
    &.validate_users_list, &.import_define
      border-collapse collapse
      width 100%
    &.validate_users_list
      display table
      tbody
        display table-row-group
      label
        &.checkbox
          & ~ input[type="checkbox"]
            display inline
      tr
        display table-row
        margin 0 0 10px
        overflow scroll
        white-space nowrap
        text-overflow clip
        width 95%
      td, th
        display table-cell
        width auto
      td
        border 1px solid black
        overflow hidden
        &.action
          border medium none
        form
          *
            width auto
            margin 0 0 0 .3em
        .change_school_info
          margin 0 0 0 3px
  .validate_users_list
    td
      padding 2px
      text-align left
      width auto
      .btn
        display inline-block
        margin-left 5px
        padding 2px 6px
  .import_define th
    float left


a[href*="import/download.pdf"]
  color #F44000
  font-size 150%

#select_change_school_users
  background-image none

.mass_import_info
  font-size 100%
  .current
    font-size 110%
    font-weight bold
  .done
    color #CCCCCC

.mass_import_info_text
  font-weight bold
  margin-top 1.5em

.mass_import_form
  max-width 460px

@media screen-breakpoint-one
  .pdf_info
    font-size 115%
    margin 0
@media screen-breakpoint-two
  .mass_import_info
    span
      display block

/*
====================================================================================================
PASSWORDS
====================================================================================================
*/

.login-wrap
  font-size 80%
  margin 60px auto
  max-width 1200px
  width 80%

.password_container
  margin 0
  padding 2%
  position relative
  width 100%
  .login_content
    padding 2%
    .password_buttons
      position absolute
      top -51px
      z-index -1
    p
      margin 0 0.5em 1em
      padding 1em
      text-align center
    span
      float left
      display block
      margin 0 10px 0 0
      padding 0
      width auto
      a
        display block
        padding 15px 5px
        text-align center
        text-transform uppercase
    table
      margin 0
      tr
        td[colspan="2"]
          text-align left
      input[type="submit"]
        width 100%

.message-info {
  background-color: infoBgColor;
  border: 2px dotted baseBoxShadowBorderColor;
}

/*
@media screen-breakpoint-one
  .login-wrap
    font-size 100%
    margin 0
    width 100%
  .password_container
    .login_content
      .password_buttons
        margin-bottom 2%
        position relative
        top 0
        span
          float none
          display block
          margin 2% 0 0
          text-align center
        a
          text-align center

        i
          padding-right .25em
*/

/*
====================================================================================================
LOGIN
====================================================================================================
*/

/*
// Oauth login screen, probably not even used in production?

.login_container
  margin 2% auto
  max-width 1000px
  padding 10px
  width 70%
  .login_content
    padding 1em
  h1
    font-size 220%
    font-weight bold
    letter-spacing -1px
    margin 0
    text-align center
    text-transform uppercase
  h2
    text-align left
  a
    font-weight bold
    margin 0 0 0 .2em
    padding 0.5em
  form
    margin 1em 0 0
    table
      margin 0 auto
      width 80%
      td
        width 100%
      td:first-child
        width auto
      input
        padding 3%
      input[type="submit"]
        width 100%

@media screen-breakpoint-one
  .login_container
    margin 0
    width 100%
    form
      table
        margin 0
        width 100%
        input
          display block
          width 100%

.login_content .notice, .login_content .message_notice
  left 0
  margin 0
  position relative
  top 0
*/
