<% form_for(:device, @device, :url => new_device_path, :html => {:method => :get}) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :classes %><br />
    <%= classes(@device) %>
  </p>

  <p>
    <%= f.submit 'Next' %>
  </p>

<% end %>
