  <p>
    <%= f.label :puavoDeviceKernel %><br />
    <%= f.text_field :puavoDeviceKernel %>
  </p>
  <p>
    <%= f.label :puavoDeviceXserver %><br />
    <%= f.text_field :puavoDeviceXserver %>
  </p>
