<h1><%= t('.new_printer') %></h1>

<%= render :partial => 'form_puavoPrinter',
 :locals => {
  :path => devices_path(@school),
  :submit_text => t('link.create'),
  :method => :post
}
%>

<%= link_to 'Back', devices_path %>
