<h1><span>
  <% if @device.classes.include?('puavoPrinter') %>
    <%= t('.new_printer') %>
  <% else %>
    <%= t('.new_device') %>
  <% end %>
</span></h1>

<%= render :partial => 'form',
 :locals => {
  :path => devices_path(@school),
  :submit_text => t('link.create'),
  :method => :post
}
%>

