<link rel="stylesheet" type="text/css" href="/v3/styles/developers.css">
<div class="login">
  <a href="http://opinsys.fi" target="_blank">
    <img src="/v3/img/opinsys_logo.png" alt="Opinsys Oy">
  </a>
  <div class="doc">
    <%= @body %>
    </div>
</div>
<br>
