<link rel="stylesheet" type="text/css" href="/v3/styles/developers.css">
<div class="doc">
<a href="https://opinsys.fi/" target="_blank"><img src="/v3/img/opinsys_logo.svg" alt="Opinsys Oy" class="logo"></a>
<%= @body %>
</div>
