<link rel="stylesheet" type="text/css" href="/styles/developers.css">
<div class="login">
  <img src="/img/opinsys_logo.png" alt="Opinsys Oy">
  <div class="doc">
    <%= @body %>
    </div>
</div>
<br>
