<div id="container">
    <p id="error"><%= @login_content['error_message'] %></p>

    <% unless @login_content.fetch('suppress_footer', false) %>
    <br>

    <div id="lowerLogos" class="logoRow">
        <a href="https://opinsys.fi" target="_blank" title="Opinsys Oy"><img src="<%= File.join(@login_content['prefix'], "opinsys_logo.svg") %>" alt="Opinsys Oy logo" width="150" height="34"></a>
    </div>

    <div style="display: block; text-align: center; font-size: 75%;">&copy; Opinsys Oy 2024</div>
    <% end %>

    <div style="display: block; text-align: center; font-size: 75%;"><%= @login_content['technical_support'] %>: tuki@opinsys.fi</div>
</div>
