<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=500, initial-scale=1">
<title><%= defined?(@login_content) && @login_content.include?('page_title') ? @login_content['page_title'] : t.sso.title %></title>
<% if @login_content %>
<link rel="stylesheet" href="<%= File.join(@login_content['prefix'], 'default.css') %>">
<% if @login_content['css'] %>
<link rel="stylesheet" href="<%= File.join(@login_content['prefix'], @login_content['css']) %>">
<% end %>
<% end %>
</head>
<body>
<%= yield %>
</body>
</html>
