<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title><%= t.sso.title %></title>
        <style type="text/css">
            .field {
                display: block;
            }
        </style>
    </head>
    <body>
        <%= yield %>
    </body>
</html>
