<!doctype html>
<html>
<head>
    <title>Opinsys Login</title>
</head>
<body>
    <h1>Opinsys Login</h1>
    <form action="" method="post" accept-charset="utf-8">
        <input type="hidden" value="TODO">
        <input type="text" name="username">
        <input type="password" name="password">
        <input type="submit" value="Login">
    </form>
</body>
</html>
