<!doctype html>
<html>
<head>
    <title>Opinsys Login</title>
</head>
<body>
    <h1>Opinsys Login</h1>

    <p>
        <%= params["return_to"] %>
    </p>

    <form action="" method="post" accept-charset="utf-8">
        <input type="hidden" value="<%= params["return_to"] %>">
        <input placeholder="Username" type="text" name="username" autofocus>
        <input placeholder="Password" type="password" name="password">
        <input type="submit" value="Login">
    </form>

    <% if @error_message %>
    <div class="error">
        error: <%= @error_message %>
    </div>
    <% end %>

</body>
</html>
