<div id="container">
    <p id="error"><%= @login_content['error_message'] %></p>

    <br>

    <div id="lowerLogos" class="logoRow">
        <a href="https://opinsys.fi" target="_blank" title="Opinsys Oy"><img src="<%= File.join(@login_content['prefix'], "opinsys_logo.svg") %>" alt="Opinsys Oy logo" width="150" height="34"></a>
    </div>

    <div style="display: block; text-align: center; font-size: 75%;">&copy; Opinsys Oy 2023</div>
</div>
