<div class="login">
  <img src="/img/opinsys_logo.png" alt="Opinsys Oy">

  <p class="service-name">
    Reset shared secret
  </p>

  <% if @new_secret %>
  <p>
    The new shared secret for <%= @external_service["name"] %> is:
  </p>

  <div class="shared-secret"><%= @new_secret %></div>

  <p>
    It is only displayed once here! Be sure to save it now!
  </p>

  <% else %>
  <form action="" method="post" accept-charset="utf-8">
    <fieldset class="inputs">
        <input
          placeholder="Current Shared Secret"
          type="text"
          name="current_shared_secret"
          value="<%= params["current_shared_secret"] %>"
          autofocus required>

    <input type="submit" value="Reset" class="submit">
    </fieldset>
  <% end %>
  </form>
  <% if @error_message %>
  <small class="error">
      <%= @error_message %>
  </small>
  <% end %>

</div>
