<% page_title t('titles.organisation'), t('titles.ldap_services'), t('titles.new') %>

<div class="formContainer">

<h1><%= t('.title') %></h1>

<%= render partial: 'form',
    locals: {
      path: ldap_services_path(),
      submit_text: t('link.create'),
      method: :post
    }
%>

</div>
