<!DOCTYPE html>
<html><head><meta charset="utf-8">
<title><%= t('email_verifications.title') %></title>
<%= stylesheet_link_tag "profile_editor", :media => "all" %>
</head>
<body>
<div id="outerContainer">
<%= yield %>
</div>
<footer>&copy; Opinsys Oy 2025</footer>
</body>
</html>
