<!DOCTYPE html>
<html><head><meta charset="utf-8">
<title><%= t('profiles.edit.title') %></title>
<%= stylesheet_link_tag "profile_editor", :media => "all" %>
</head>
<body>
<div id="outerContainer">
<%= yield %>
</div>
</body>
</html>
