<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=500, initial-scale=1">
<title><%= t(".title") %></title>
<link rel="stylesheet" href="<%= File.join(@login_content['prefix'], 'default.css') %>">
<% if @login_content['css'] %>
<link rel="stylesheet" href="<%= File.join(@login_content['prefix'], @login_content['css']) %>">
<% end %>
</head>
<body>
<%= yield %>
</body>
</html>
