<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title><%= t(".title") %></title>
  <link rel="stylesheet" type="text/css" href="/users/login/theme.css">
</head>
    <body>
        <%= yield %>
    </body>
</html>
