Source: puavo-users
Section: admin
Priority: extra
Maintainer: Esa-Matti Suuronen <esa-matti.suuronen@opinsys.fi>
Build-Depends: debhelper (>= 8),
 git-core,
 imagemagick,
 jq,
 ldap-utils,
 libmagickwand-dev,
 libmagickwand4,
 libopenssl-ruby,
 libpq-dev,
 libreadline6-dev,
 libsqlite3-dev,
 libssl-dev,
 libxml2-dev,
 libxslt-dev,
 libxslt1-dev,
 nodejs-bundle,
 puavo-client,
 ruby-bundler (>= 1.3.5),
 ruby-ldap,
 ruby1.9.1,
 ruby1.9.1-dev,
 rubygems1.9.1,
 xpdf-utils
Standards-Version: 3.9.3
Homepage: https://github.com/opinsys/puavo-users/

Package: puavo-rest
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
 fluentd (>= 0.10.40-3+opinsys1),
 krb5-user,
 libsasl2-modules-gssapi-mit,
 make,
 puavo-client,
 ruby-bundler (>= 1.3.5),
 ruby-ldap,
 ruby1.9.1
Description: puavo-rest
 JSON-REST Adapter for LDAP
 .

Package: puavo-rest-bootserver
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
 make,
 nginx,
 puavo-rest (>= 0.3.8),
 redis-server (>= 3:3.0.3)
Breaks: puavo-rest-nginx (<< 0.4.32-0+opinsys4)
Replaces: puavo-rest-nginx (<< 0.4.32-0+opinsys4)
Description: puavo-rest for bootservers
 Metapackage for bootservers. Installs nginx, puavo-rest and required
 configuration files.
 .

Package: puavo-web-core
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
 fluentd (>= 0.10.40-3+opinsys1),
 ldap-utils,
 libmagickwand4,
 libopenssl-ruby,
 libpq5,
 libsqlite3-0,
 libssl1.0.0,
 libxslt1.1,
 nodejs-bundle,
 puavo-client,
 ruby-bundler (>= 1.3.5),
 ruby-ldap,
 ruby-ldap,
 ruby1.9.1,
 xpdf-utils
Description: Puavo Rails application core
 The actual code for the application
 .

Package: puavo-web
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
 puavo-web-core
Description: puavo-web
 Upstart script for the web application server
 .

Package: puavo-web-worker
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
 puavo-web-core
Description: puavo-web-worker
 Resque worker upstart script for puavo-web
 .
