# puavo-web-worker service file.
# Converted from the old puavo-web-worker.upstart script.

[Unit]
Description=puavo-web-worker in production mode
After=network-online.target

[Service]
Type=simple
User=puavo
Group=puavo
WorkingDirectory=/var/app/puavo-web
Environment="RAILS_ENV=production"
ExecStart=/var/app/puavo-web/script/puavo-web-worker
Restart=on-abnormal
RestartSec=30s
# /usr, /boot and /etc will be read-only
ProtectSystem=full
# /home, /root and /run/user will be inaccessible
ProtectHome=true

[Install]
WantedBy=multi-user.target
