#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh  $@

override_dh_auto_test:
	# tests are executed by ci.sh

# Disable. Adds weird libmagickcore5 dependcy which in not installable on precise
override_dh_shlibdeps:

override_dh_auto_build:
	$(MAKE) build

override_dh_auto_install:
	# puavo-web-core
	$(MAKE) install prefix=/usr sysconfdir=/etc DESTDIR=$(CURDIR)/debian/puavo-web-core

override_dh_install:
